{
  //
  //"baseNodeCost" : 2500,
  //"costExponent" : 1.1,
  
  "icons" : { // manual icon specification
    "origin" : "/startech/ui/configurator/skilltree.png"
  },
  
  "templates" : { // node templates
    "origin" : {
      "name" : "Point of Origin",
      "icon" : "origin", "default" : true,
      "grants" : [
        ["description", "And so it begins."]
      ]
    },
    "socket" : {
      "type" : "socket",
      "name" : "Empty Socket",
      "moduleTypes" : [ "nanofield" ]
    }
  },
  
  "baseStats" : {
    "damage" : 1.0
  },
  "statNames" : {
    "damage" : "damage output",
    "leech" : "life leech"
  },
  "statPercent" : {
    "damage" : true
  },
  "statsDisplay" : [
    "damage",
    "leech",
    
    "" // end of list
  ],
  
  "" : true // eof
}
