{
  //
  //"baseNodeCost" : 2500,
  //"costExponent" : 1.1, // something like this
  
  //"iconBasePath" : "/startech/skillicons", 
  "icons" : { // manual icon specification
    "origin" : "/startech/ui/configurator/skilltree.png",
    "sprint" : "sprintSpeed"
  },
  
  "templates" : { // node templates
    "origin" : {
      "name" : "Point of Origin",
      "icon" : "origin", "default" : true,
      "grants" : [
        ["description", "And so it begins."]
      ]
    },
    // pure pathing node
    "path" : { "icon" : "tiny", "fixedCost" : 0 },
    "socket" : {
      "type" : "socket",
      "name" : "Empty Socket",
      "moduleTypes" : [ "startech:nanofield" ]
    },
    "port" : { "type" : "socket", "icon" : "port", "default" : true }
  },
  
  "baseStats" : {
    "health" : 100, "energy" : 100,
    "healthRegen" : [1, 0], // increase from zero
    "armor" : 0,
    "damage" : 1.0,
    "leech" : [1, 0], // increase from zero
    "bloodthirst" : [1, 0], // increase from zero
    
    "sprint" : [1, 1.5],
    "airJump" : 0
  },
  "statNames" : {
    "health" : "maximum health",
    "healthRegen" : "health regen",
    "energy" : "maximum energy",
    "damage" : "damage output",
    "leech" : "life leech",
    
    "sprint" : "sprint speed",
    "airJump" : "air jump(s)"
  },
  "statPercent" : {
    "healthRegen" : true,
    "damage" : true,
    "moveSpeed" : true,
    "sprint" : true
  },
  "statsDisplay" : [
    "health", "energy",
    "armor",
    "healthRegen",
    "",
    "damage",
    "leech", "bloodthirst",
    "",
    "sprint", "airJump",
    
    "" // end of list
  ],
  
  "" : true // eof
}
