{
  //
  //"baseNodeCost" : 1000,
  "costExponent" : 1.07,
  
  //"iconBasePath" : "/startech/skillicons", 
  "icons" : { // manual icon specification
    "origin" : "/startech/ui/configurator/skilltree.png",
    "sprint" : "sprintSpeed"
  },
  
  "templates" : { // node templates
    "origin" : {
      "name" : "Point of Origin",
      "icon" : "origin", "default" : true,
      "grants" : [
        ["description", "And so it begins."]
      ]
    },
    
    "m" : { "icon" : "node", "grants" : [ ["increased", "heatEfficiency", 0.01]/**/ ] },
    
    // pure pathing node
    "path" : { "icon" : "tiny", "fixedCost" : 0 },
    // material gate
    "gate" : { "icon" : "gate.png:", "name" : "Gate", "fixedCost" : 0 },
    "socket" : {
      "type" : "socket",
      "name" : "Empty Socket",
      "moduleTypes" : [ "startech:nanofield" ]
    },
    "port" : { "type" : "socket", "icon" : "port", "default" : true }
  },
  
  "baseStats" : {
    "health" : 100, "energy" : 100,
    "healthRegen" : [1, 0], // increase from zero
    "armor" : 0,
    "damage" : 1.0,
    "leech" : [1, 0], // increase from zero
    "bloodthirst" : [1, 0], // increase from zero
    
    "grit" : [1, 0], // increase from zero
    
    "sprint" : [1, 1.5],
    "jump" : 1,
    "airJump" : 0,
    
    "powerCapacity" : 320000,
    
    "heatCapacity" : 1,
    "heatEfficiency" : 1,
    "heatDissipation" : 1,
    "heatDelay" : 1,
    
    "wingDamage" : 1
  },
  "statNames" : {
    "health" : "maximum health",
    "healthRegen" : "health regen",
    "energy" : "maximum energy",
    "damage" : "damage output",
    "leech" : "life leech",
    
    "grit" : "knockback resistance",
    
    "sprint" : "sprint speed",
    "jump" : "jump force",
    "airJump" : "air jump(s)",
    
    "powerCapacity" : "FP capacity",
    
    "heatCapacity" : "heat tolerance",
    "heatEfficiency" : "heat efficiency",
    "heatDissipation" : "heat dissipation",
    "heatDelay" : "cooling startup time",
    
    "wingDamage" : "damage with Elytra active"
  },
  "statPercent" : {
    "healthRegen" : true,
    "damage" : true,
    "grit" : true,
    "moveSpeed" : true,
    "sprint" : true,
    "jump" : true,
    
    "heatCapacity" : true, "heatEfficiency" : true, "heatDissipation" : true, "heatDelay" : true,
    
    "wingDamage" : true
  },
  "statsDisplay" : [
    "health", "energy",
    "healthRegen",
    "armor", "grit",
    "",
    "damage",
    "leech", "bloodthirst",
    "",
    "sprint", "jump", "airJump",
    
    "",
    
    "powerCapacity",
    
    "",
    
    //"heatCapacity",
    "heatEfficiency", "heatDissipation", "heatDelay",
    
    "",
    
    "wingDamage",
    
    "" // end of list
  ],
  
  "" : true // eof
}
