{
  //
  //"baseNodeCost" : 2500,
  //"costExponent" : 1.1, // something like this
  
  //"iconBasePath" : "/startech/skillicons", 
  "icons" : { // manual icon specification
    
  },
  "statPercent" : {
    "healthRegen" : true,
    "damage" : true,
    "moveSpeed" : true,
    "sprint" : true
  },
  "baseStats" : {
    "health" : 100, "energy" : 100,
    "healthRegen" : [1, 0], // increase from zero
    "armor" : 0,
    "damage" : 1.0,
    
    "sprint" : [1, 1.5]
  },
  "statNames" : {
    "health" : "maximum health",
    "healthRegen" : "health regen",
    "energy" : "maximum energy",
    "damage" : "damage output",
    
    "sprint" : "sprint speed",
    "airJump" : "air jump(s)"
  },
  "statsDisplay" : [
    "health", "energy",
    "armor",
    "healthRegen",
    "",
    "damage",
    "",
    "sprint", "airJump",
    
    "" // end of list
  ],
  
  "templates" : { // node templates
    "socket" : {
      "type" : "socket",
      "name" : "Empty Socket",
      "moduleTypes" : ["nanofield"]
    }
  },
  
  "" : true // eof
}
