{
  "definitions" : "defs.nanofield.config",
  "tree" : {
    /*"t1" : { "position" : [0, 0], "default" : true, "grants" : [["description", "This is a node tooltip."]] },
    "t2" : { "position" : [1, 0], "connectsTo" : ["t1"] },
    "t3" : { "position" : [1.5, 1], "connectsTo" : ["t1", "t2"] },
    "lol" : { "position" : [-1, 3], "connectsTo" : ["t1", "t3"], "default" : true },
    "manaM" : { "position" : [-2.75, -0.25], "connectsTo" : [ "lol" ], "grants" : [ ["increased", "derpetry", 0.25], ["flat", "fucks to give", 25] ] }*/
    "origin" : { "default" : true, "name" : "Point of Origin", "grants" : [["description", "The journey of a lifetime begins with but a single step"], ["increased","critical strike chance with Pulse Weapons",0.25]] },
    "lick" : { "default" : true, "position" : [0, -15], "name" : "The Licc", "grants" : [["description", "doo ba doo ba doooooo badoo~"]] },
    "link" : { "position" : [-5, 1], "type" : "link", "target" : "lick", "name" : "Link Test", "grants" : [["description", "Off into the wild slightly purple yonder"]] },
    "socket" : { "position" : [5, 1], "template" : "socket", "connectsTo" : [ "/starter/east" ] },
    "starter" : {
      "type" : "group", "position" : [0, 0], "children" : {
        // bottom half - equivalent to iron armor
        "health" : { "position" : [-0.625, -1.5], "connectsTo" : [ "/origin" ], "fixedCost" : 2700, "grants" : [ ["flat", "armor", 10] ] },
        "armor" : { "position" : [0.625, -1.5], "connectsTo" : [ "/origin" ], "grants" : [ ["more", "armor", -0.25] ] },
        "energy" : { "position" : [-1.5, -0.625], "connectsTo" : [ "/origin" ], "sgrants" : [ ["flat", "energy", 10] ] },
        "damage" : { "position" : [1.5, -0.625], "connectsTo" : [ "/origin" ], "sgrants" : [ ["increased", "damageMult", 0.5] ] },
        
        // top half - movement and aether
        "sprint" : { "position" : [-1.5, 0.625], "connectsTo" : [ "/origin" ], "sgrants" : [ ["increased", "sprintSpeed", 0.25] ] },
        "airjump" : { "position" : [-0.625, 1.5], "connectsTo" : [ "/origin" ], "sgrants" : [ ["flat", "airJumps", 1] ] },
        "mana" : { "position" : [0.625, 1.5], "connectsTo" : [ "/origin" ], "sgrants" : [ ["flat", "mana", 50] ] },
        "skillDamage" : { "position" : [1.5, 0.625], "connectsTo" : [ "/origin" ], "sgrants" : [ ["increased", "skillDamageMult", 0.25] ] },
        
        // connective tissue!
        "north" : { "position" : [0, 3], "connectsTo" : [ "/origin" ], "grants" : [ ], "DISitemCost" : [ { "name" : "manipulatormodule", "count" : 5 }, { "name" : "scanmode", "count" : 1 } ] },
        "south" : { "position" : [0, -3], "connectsTo" : [ "/origin" ], "grants" : [ ] },
        "east" : { "position" : [3, 0], "connectsTo" : [ "/origin" ], "grants" : [ ] },
        "west" : { "position" : [-3, 0], "connectsTo" : [ "/origin" ], "grants" : [ ] }
      }
    }
  }
}
