{
  "definitions" : "defs.nanofield.config",
  "tree" : {
    "t1" : { "position" : [0, 0], "default" : true, "grants" : [["description", "This is a node tooltip."]] },
    "t2" : { "position" : [1, 0], "connectsTo" : ["t1"] },
    "t3" : { "position" : [1.5, 1], "connectsTo" : ["t1", "t2"] },
    "lol" : { "position" : [-1, 3], "connectsTo" : ["t1", "t3"], "default" : true },
    "manaM" : { "position" : [-2.75, -0.25], "connectsTo" : [ "lol" ], "grants" : [ ["increased", "derpetry", 0.25], ["flat", "fucks to give", 25] ] }
  }
}
