{
  "definitions" : "defs.nanofield.config",
  //"compatId" : "bologna",
  "tree" : {
    "origin" : { "template" : "origin" },
    
    // I/O ports
    "elytra" : { "template" : "port", "position" : [-1.25, 1.5], "moduleTypes" : ["startech:elytra"], "name" : "I/O Port - Elytra" },
    "elytraVanity" : { "template" : "port", "position" : [-2.0, 2.25], "moduleTypes" : ["startech:elytra"], "name" : "I/O Port - Elytra (Vanity)" },
    "sphere" : { "template" : "port", "position" : [1.25, 1.5], "moduleTypes" : ["startech:nanosphere"], "name" : "I/O Port - Sphere" },
    
    // and now we get into things
    
    "starter" : { // t1-t2 cluster
      "type" : "group", "position" : [0, 0], "children" : {
        "def1" : { "position" : [1, -0.5], "grants" : [ ["flat", "armor",  5] ], "connectsTo" : ["/origin"] },
        "def2" : { "position" : [2, -0.65], "grants" : [ ["flat", "armor", 10] ], "connectsTo" : ["def1"] },
        "def3" : { "position" : [3, -0.5], "grants" : [ ["flat", "armor",  5] ], "connectsTo" : ["def2"] },
        
        "health1" : { "position" : [1, 0.5], "grants" : [ ["increased", "health", 0.05] ], "connectsTo" : ["/origin"] },
        "health2" : { "position" : [2, 0.65], "grants" : [ ["increased", "health", 0.05] ], "connectsTo" : ["health1"] },
        "health3" : { "position" : [3, 0.5], "grants" : [ ["increased", "health", 0.05] ], "connectsTo" : ["health2"] },
        
        "defCap" : { "position" : [4, 0], "grants" : [ ["flat", "armor", 20], ["increased", "health", 0.05] ], "connectsTo" : ["def3", "health3"] },
        
        "dmg1" : { "position" : [-1, -0.5], "grants" : [ ["increased", "damage", 0.2] ], "connectsTo" : ["/origin"] },
        "dmg2" : { "position" : [-2, -0.65], "grants" : [ ["increased", "damage", 0.2] ], "connectsTo" : ["dmg1"] },
        "dmg3" : { "position" : [-3, -0.5], "grants" : [ ["increased", "damage", 0.2] ], "connectsTo" : ["dmg2"] },
        
        "energy1" : { "position" : [-1, 0.5], "grants" : [ ["increased", "energy", 0.05] ], "connectsTo" : ["/origin"] },
        "energy2" : { "position" : [-2, 0.65], "grants" : [ ["increased", "energy", 0.05] ], "connectsTo" : ["energy1"] },
        "energy3" : { "position" : [-3, 0.5], "grants" : [ ["increased", "energy", 0.05] ], "connectsTo" : ["energy2"] },
        
        "dmgCap" : { "position" : [-4, 0], "grants" : [ ["increased", "damage", 0.4], ["increased", "energy", 0.05] ], "connectsTo" : ["dmg3", "energy3"] }
      }
    },
    "movement" : {
      "type" : "group", "position" : [0, 2], "children" : {
        "sp1" : { "position" : [0, 0], "grants" : [ ["increased", "sprint", 0.05] ], "connectsTo" : ["/origin"] },
        "sp2" : { "position" : [-1, 1], "grants" : [ ["increased", "sprint", 0.05] ], "connectsTo" : ["sp1"] },
        "sp3" : { "position" : [0, 2], "grants" : [ ["increased", "sprint", 0.05] ], "connectsTo" : ["sp2"] },
        
        "jump" : {
          "position" : [1, 1], "connectsTo" : ["sp1", "sp3"],
          "grants" : [ ["flat", "airJump", 1] ],
          "itemCost" : [ {"name" : "techcard", "count" : 3} ]
        },
        
        "socket" : { "template" : "socket", "position" : [0, 1], "connectsTo" : ["jump"] }
      }
    },
    
    "ring" : { // some transit nodes before things start kicking off into the open wilds
      "type" : "group", "position" : [0, 0], "children" : {
        "t3gate" : {
          "template" : "gate", "position" : [0, -4], "connectsTo" : ["/starter/dmgCap", "/starter/defCap"],
          "itemCost" : [ {"name" : "titaniumbar", "count" : 5} ]
        },
        "n" : {
          "template" : "m", "position" : [0, -5], "connectsTo" : ["t3gate"]
        },
        "nw" : {
          "template" : "m", "position" : [-3.5, -3.5], "connectsTo" : ["n"]
        },
        "w" : {
          "template" : "m", "position" : [-5, 0], "connectsTo" : ["nw"]
        },
        "sw" : {
          "template" : "m", "position" : [-3.5, 3.5], "connectsTo" : ["w"]
        },
        "ne" : {
          "template" : "m", "position" : [3.5, -3.5], "connectsTo" : ["n"]
        },
        "e" : {
          "template" : "m", "position" : [5, 0], "connectsTo" : ["ne"]
        },
        "se" : {
          "template" : "m", "position" : [3.5, 3.5], "connectsTo" : ["e"]
        },
        "s" : {
          "template" : "m", "position" : [0, 5], "connectsTo" : ["sw", "se"]
        }
      }
    },
    
    
    
    
    
    
    // STUFF WE DON'T KNOW WHERE TO PUT YET~
    "spec1" : {
      "type" : "group", "position" : [0, -8], "condition" : ["species", false], "children" : {
        "s" : { "type" : "selector", "canDeselect" : true, "name" : "Specialization", "connectsTo" : ["/t3gate"] },
        "berzerker" : {
          "type" : "selection", "connectsTo" : ["s"],
          "position" : [-1, -0.5], "name" : "Berzerker",
          "grants" : [ ["more", "damage", 0.1], ["more", "armor", -0.25], ["increased", "leech", 0.1] ]
        },
        "tank" : {
          "type" : "selection", "connectsTo" : ["s"],
          "position" : [1, -0.5], "name" : "Tank",
          "grants" : [ ["increased", "armor", 0.1] ]
        }
      }
    }
  }
}
