{
  "definitions" : "defs.pulseweapon.config",
  "compatId" : "no",
  
  "baseStats" : {
    "punchthrough" : 0.0
  },
  
  "statNames" : {
    "speed" : "fire rate"
  },
  
  "statsDisplay" : [
    "damage",
    "speed",
    "punchthrough"
  ],
  
  // there should be enough nodes to ramp it up to about 400% damage output
  
  "templates" : {
    "dmg" : { // generic damage node
      //"icon" : "node",
      "costMult" : 2.5,
      "grants" : [["increased", "damage", 0.25]]
    }
  },
  
  "rootPosition" : [0, 0],
  "tree" : {
    "origin" : { "template" : "origin", "position" : [0, 2] },
    "socket" : { "template" : "socket", "position" : [0, 1], "connectsTo" : ["/origin"] },
    
    "damage" : {
      "type" : "group", "position" : [0, 0], "layout" : ["radial", 18, 0],
      "children" : {
        "l1" : { "template" : "dmg", "position" : [-1.0, -3.0 ], "connectsTo" : ["/origin"] },
        "l2" : { "template" : "dmg", "position" : [-2.0, -3.0 ], "connectsTo" : ["l1"] },
        "l3" : { "template" : "dmg", "position" : [-3.0, -3.0 ], "connectsTo" : ["l2"] },
        "l4" : { "template" : "dmg", "position" : [-4.0, -3.0 ], "connectsTo" : ["l3"] },
        "l5" : { "template" : "dmg", "position" : [-5.0, -3.0 ], "connectsTo" : ["l4"] },
        "l6" : { "template" : "dmg", "position" : [-6.0, -3.0 ], "connectsTo" : ["l5"] },
        "r1" : { "template" : "dmg", "position" : [ 1.0, -3.0 ], "connectsTo" : ["/origin"] },
        "r2" : { "template" : "dmg", "position" : [ 2.0, -3.0 ], "connectsTo" : ["r1"] },
        "r3" : { "template" : "dmg", "position" : [ 3.0, -3.0 ], "connectsTo" : ["r2"] },
        "r4" : { "template" : "dmg", "position" : [ 4.0, -3.0 ], "connectsTo" : ["r3"] },
        "r5" : { "template" : "dmg", "position" : [ 5.0, -3.0 ], "connectsTo" : ["r4"] },
        "r6" : { "template" : "dmg", "position" : [ 6.0, -3.0 ], "connectsTo" : ["r5"] },
        "lsocket" : { "template" : "socket", "position" : [-6, -4.5], "connectsTo" : ["l6"] },
        "rsocket" : { "template" : "socket", "position" : [6, -4.5], "connectsTo" : ["r6"] }
      }
    },
    
    "ex" : {
      "type" : "group", "position" : [0, 0], "layout" : ["radial", 27, 0],
      "children" : {
        "pt1" : { "position" : [-1.0, -4.0], "grants" : [ ["flat", "punchthrough", 1] ], "connectsTo": ["/damage/l1"] },
        "pt2" : { "position" : [-2.0, -4.0], "grants" : [ ["flat", "punchthrough", 1] ], "connectsTo": ["pt1"] },
        "pt3" : { "position" : [-3.0, -4.0], "grants" : [ ["flat", "punchthrough", 1] ], "connectsTo": ["pt2"] },
        "pt4" : { "position" : [-4.0, -4.0], "grants" : [ ["flat", "punchthrough", 1] ], "connectsTo": ["pt3"] },
        "pt5" : { "position" : [-5.0, -4.0], "grants" : [ ["flat", "punchthrough", 1] ], "connectsTo": ["pt4"] }
      }
    },
    
    "speed" : {
      "type" : "group", "position" : [1, 0.5], "condition" : ["species", false],
      "children" : {
        "1" : { "position" : [ 0.0,  0.0  ], "grants" : [ ["increased", "speed", 0.05] ], "connectsTo" : ["/origin"] },
        "2" : { "position" : [ 0.5, -0.75 ], "grants" : [ ["increased", "speed", 0.05] ], "connectsTo" : ["1"] },
        "3" : { "position" : [ 0.3, -1.625], "grants" : [ ["increased", "speed", 0.15] ], "connectsTo" : ["2"] }
      }
    },
    "charge" : {
      "type" : "group", "position" : [-1, 0.5], "condition" : ["species", false],
      "children" : {
        "1" : { "position" : [-0.0,  0.0  ], "grants" : [ ["increased", "charge", 0.05] ], "connectsTo" : ["/origin"] },
        "2" : { "position" : [-0.5, -0.75 ], "grants" : [ ["increased", "charge", 0.05] ], "connectsTo" : ["1"] },
        "3" : { "position" : [-0.3, -1.625], "grants" : [ ["increased", "charge", 0.15] ], "connectsTo" : ["2"] }
      }
    }
  }
}
