{
  "definitions" : "defs.pulseweapon.config",
  
  // there should be enough nodes to ramp it up to about 400% damage output
  
  "templates" : {
    "dmg" : { // generic damage node
      //"icon" : "node",
      "costMult" : 2.5,
      "grants" : [["increased", "damage", 0.25]]
    }
  },
  
  "rootPosition" : [0, 2.5],
  "tree" : {
    "origin" : { "template" : "origin", "position" : [0, 0] },
    "socket" : { "template" : "socket", "position" : [0, 2], "connectsTo" : ["/origin"] },
    
    "damage" : {
      "type" : "group", "position" : [0, -1],
      "children" : {
        "1.5" : { "template" : "dmg", "position" : [-0.5, -0.0 ], "connectsTo" : ["/origin"] },
        "2.0" : { "template" : "dmg", "position" : [ 0.5, -0.0 ], "connectsTo" : ["1.5"] },
        "2.5" : { "template" : "dmg", "position" : [-0.5, -1.0 ], "connectsTo" : ["2.0"] },
        "3.0" : { "template" : "dmg", "position" : [ 0.5, -1.0 ], "connectsTo" : ["2.5"] },
        "3.5" : { "template" : "dmg", "position" : [-0.5, -2.0 ], "connectsTo" : ["3.0"] },
        "4.0" : { "template" : "dmg", "position" : [ 0.5, -2.0 ], "connectsTo" : ["3.5"] },
        "4.5" : { "template" : "dmg", "position" : [-0.5, -3.0 ], "connectsTo" : ["4.0"] },
        "5.0" : { "template" : "dmg", "position" : [ 0.5, -3.0 ], "connectsTo" : ["4.5"] },
        "5.5" : { "template" : "dmg", "position" : [-0.5, -4.0 ], "connectsTo" : ["5.0"] },
        "6.0" : { "template" : "dmg", "position" : [ 0.5, -4.0 ], "connectsTo" : ["5.5"] },
        "6.5" : { "template" : "dmg", "position" : [-0.5, -5.0 ], "connectsTo" : ["6.0"] },
        "7.0" : { "template" : "dmg", "position" : [ 0.5, -5.0 ], "connectsTo" : ["6.5"] },
        "socket" : { "template" : "socket", "position" : [0, -6], "connectsTo" : ["7.0"] }
      }
    },
    
    "speed" : {
      "type" : "group", "position" : [1, 0.5],
      "children" : {
        "1" : { "position" : [ 0.0,  0.0  ], "grants" : [ ["increased", "speed", 0.05] ], "connectsTo" : ["/origin"] },
        "2" : { "position" : [ 0.5, -0.75 ], "grants" : [ ["increased", "speed", 0.05] ], "connectsTo" : ["1"] },
        "3" : { "position" : [ 0.3, -1.625], "grants" : [ ["increased", "speed", 0.15] ], "connectsTo" : ["2"] }
      }
    },
    "charge" : {
      "type" : "group", "position" : [-1, 0.5],
      "children" : {
        "1" : { "position" : [-0.0,  0.0  ], "grants" : [ ["increased", "charge", 0.05] ], "connectsTo" : ["/origin"] },
        "2" : { "position" : [-0.5, -0.75 ], "grants" : [ ["increased", "charge", 0.05] ], "connectsTo" : ["1"] },
        "3" : { "position" : [-0.3, -1.625], "grants" : [ ["increased", "charge", 0.15] ], "connectsTo" : ["2"] }
      }
    }
  }
}
