{
  "definitions" : "defs.pulseweapon.config",
  
  // there should be enough nodes to ramp it up to about 400% damage output
  
  "templates" : {
    "dmg" : { // generic damage node
      //"icon" : "node",
      "costMult" : 2.5,
      "grants" : [["increased", "damage", 0.25]]
    }
  },
  
  "tree" : {
    "origin" : { "template" : "origin" },
    "blah" : { "position" : [0, 3], "name" : "blah!", "costMult" : 5, "connectsTo" : ["/origin"] },
    
    "damage" : {
      "type" : "group", "position" : [2, 0],
      "children" : {
        "1.5" : { "template" : "dmg", "position" : [ 0.0,  0.0 ], "connectsTo" : ["/origin"] },
        "2.0" : { "template" : "dmg", "position" : [ 0.25, 0.75], "connectsTo" : ["1.5"] },
        "2.5" : { "template" : "dmg", "position" : [ 1.0,  0.0 ], "connectsTo" : ["2.0"] },
        "3.0" : { "template" : "dmg", "position" : [ 1.25, 0.75], "connectsTo" : ["2.5"] },
        "3.5" : { "template" : "dmg", "position" : [ 2.0,  0.0 ], "connectsTo" : ["3.0"] },
        "4.0" : { "template" : "dmg", "position" : [ 2.25, 0.75], "connectsTo" : ["3.5"] },
        "4.5" : { "template" : "dmg", "position" : [ 3.0,  0.0 ], "connectsTo" : ["4.0"] },
        "5.0" : { "template" : "dmg", "position" : [ 3.25, 0.75], "connectsTo" : ["4.5"] },
        "5.5" : { "template" : "dmg", "position" : [ 4.0,  0.0 ], "connectsTo" : ["5.0"] },
        "6.0" : { "template" : "dmg", "position" : [ 4.25, 0.75], "connectsTo" : ["5.5"] },
        "6.5" : { "template" : "dmg", "position" : [ 5.0,  0.0 ], "connectsTo" : ["6.0"] },
        "7.0" : { "template" : "dmg", "position" : [ 5.25, 0.75], "connectsTo" : ["6.5"] }
      }
    }
  }
}
