{
  "definitions" : "defs.pulseweapon.config",
  
  // there should be enough nodes to ramp it up to about 400% damage output
  
  "templates" : {
    "dmg" : { // generic damage node
      //"icon" : "node",
      "grants" : [["increased", "damage", 0.1]]
    }
  },
  
  "tree" : {
    "origin" : { "template" : "origin" },
    "blah" : { "position" : [0, 3], "name" : "blah!", "costMult" : 5, "connectsTo" : ["/origin"] },
    
    "damage" : {
      "type" : "group", "position" : [-7.25, -4],
      "children" : {
        "01" : { "template" : "dmg", "position" : [ 0.0,  0.4], "connectsTo" : ["/origin"] },
        "02" : { "template" : "dmg", "position" : [ 0.5, -0.4], "connectsTo" : ["01"] },
        "03" : { "template" : "dmg", "position" : [ 1.0,  0.4], "connectsTo" : ["02"] },
        "04" : { "template" : "dmg", "position" : [ 1.5, -0.4], "connectsTo" : ["03"] },
        "05" : { "template" : "dmg", "position" : [ 2.0,  0.4], "connectsTo" : ["04"] },
        "06" : { "template" : "dmg", "position" : [ 2.5, -0.4], "connectsTo" : ["05"] },
        "07" : { "template" : "dmg", "position" : [ 3.0,  0.4], "connectsTo" : ["06"] },
        "08" : { "template" : "dmg", "position" : [ 3.5, -0.4], "connectsTo" : ["07"] },
        "09" : { "template" : "dmg", "position" : [ 4.0,  0.4], "connectsTo" : ["08"] },
        "10" : { "template" : "dmg", "position" : [ 4.5, -0.4], "connectsTo" : ["09"] },
        "11" : { "template" : "dmg", "position" : [ 5.0,  0.4], "connectsTo" : ["10"] },
        "12" : { "template" : "dmg", "position" : [ 5.5, -0.4], "connectsTo" : ["11"] },
        "13" : { "template" : "dmg", "position" : [ 6.0,  0.4], "connectsTo" : ["12"] },
        "14" : { "template" : "dmg", "position" : [ 6.5, -0.4], "connectsTo" : ["13"] },
        "15" : { "template" : "dmg", "position" : [ 7.0,  0.4], "connectsTo" : ["14"] },
        "16" : { "template" : "dmg", "position" : [ 7.5, -0.4], "connectsTo" : ["15"] },
        "17" : { "template" : "dmg", "position" : [ 8.0,  0.4], "connectsTo" : ["16"] },
        "18" : { "template" : "dmg", "position" : [ 8.5, -0.4], "connectsTo" : ["17"] },
        "19" : { "template" : "dmg", "position" : [ 9.0,  0.4], "connectsTo" : ["18"] },
        "20" : { "template" : "dmg", "position" : [ 9.5, -0.4], "connectsTo" : ["19"] },
        "21" : { "template" : "dmg", "position" : [10.0,  0.4], "connectsTo" : ["20"] },
        "22" : { "template" : "dmg", "position" : [10.5, -0.4], "connectsTo" : ["21"] },
        "23" : { "template" : "dmg", "position" : [11.0,  0.4], "connectsTo" : ["22"] },
        "24" : { "template" : "dmg", "position" : [11.5, -0.4], "connectsTo" : ["23"] },
        "25" : { "template" : "dmg", "position" : [12.0,  0.4], "connectsTo" : ["24"] },
        "26" : { "template" : "dmg", "position" : [12.5, -0.4], "connectsTo" : ["25"] },
        "27" : { "template" : "dmg", "position" : [13.0,  0.4], "connectsTo" : ["26"] },
        "28" : { "template" : "dmg", "position" : [13.5, -0.4], "connectsTo" : ["27"] },
        "29" : { "template" : "dmg", "position" : [14.0,  0.4], "connectsTo" : ["28"] },
        "30" : { "template" : "dmg", "position" : [14.5, -0.4], "connectsTo" : ["29"] }
      }
    }
  }
}
