{
  "gui" : {
    "paneFeature" : {
      "type" : "panefeature"
    },
    "background" : {
      "zlevel" : -10,
      "type" : "background",
      "fileFooter" : "/assetmissing.png?crop=0;0;1;1?multiply=0000?replace;0000=0000007f?scalenearest=320;240?border=1;0000007f;00000000?border=1;0000007f;00000000?border=1;bfbfbf;00000000"
    },
    "body" : {
      "type" : "layout",
      "layoutType" : "basic",
      "position" : [3, 3], "size" : [320, 240],
      "children" : {
        
        "preview" : {
          "type" : "canvas",
          "position" : [2, 120], "size" : [198, 120]
        },
        
        "description" : {
          "type" : "label",
          "position" : [ 2, 120 ], "wrapWidth" : 198,
          "vAnchor" : "top",
          "value" : "Description goes here."
          //magical girl
        },
        
        "btnApply" : {
          "type" : "button",
          "position" : [ 256, 0 ],
          "base" : "/interface/button.png",
          "hover" : "/interface/buttonhover.png",
          "caption" : "Apply"
        },
        
        "items" : {
          "type" : "scrollArea",
          "position" : [200, 16], "size" : [120, 224],
          "children" : {
            "list" : {
              "type" : "list",
              "columns" : 1,
              "fillDown" : true,
              "callback" : "onSelectionChanged",
              "schema" : {
                "spacing" : [0, 1],
                "memberSize" : [110, 20],
                "unselectedBG" : "/assetmissing.png?crop=0;0;1;1?multiply=0000?replace;0000=0000007f?scalenearest=108;18?border=1;1f1f1f7f;00000000",
                "selectedBG" : "/assetmissing.png?crop=0;0;1;1?multiply=0000?replace;0000=3f3f3f7f?scalenearest=108;18?border=1;7f7f7f7f;00000000",
                "listTemplate" : {
                  "background" : { "type" : "image", "zlevel" : -10, "position" : [0, 0], "file" : "/assetmissing.png?crop=0;0;1;1?multiply=0000?replace;0000=0000007f?scalenearest=108;18?border=1;1f1f1f7f;00000000" },
                  "label" : { "type" : "label", "position" : [4, 9], "vAnchor" : "mid", "value" : "Costume Name" }
                }
              }
            }
          }
        }
      }
    }
  },
  
  "scriptWidgetCallbacks" : [ "btnApply", "onSelectionChanged" ],
  "scripts" : ["/sys/stardust/cosplay/cosplay.ui.lua"], "scriptDelta" : 1
}
