{
  "gui" : {
    "background" : {
      "type" : "background",
      "fileHeader" : "/interface/chests/chestheader.png",
      "fileBody" : "/interface/chests/slots1to16.png",
      "fileFooter" : "/interface/chests/chestfooter.png"
    },
    "objectImage" : {
      "type" : "image",
      "position" : [40, 81],
      "file" : "",
      "centered" : true,
      "maxSize" : [40, 40],
      "minSize" : [40, 40]
    },
    "clear" : {
      "type" : "button",
      "base" : "/interface/button.png",
      "hover" : "/interface/buttonhover.png",
      "press" : "/interface/buttonhover.png",
      "caption" : "Take all",
      "position" : [92, 26]
    },
    "itemGrid" : {
      "type" : "itemgrid",
      "position" : [81, 50],
      "dimensions" : [1, 3],
      "spacing" : [19, 19],
      "backingImage" : "/interface/inventory/empty.png"
    },
    "itemGrid2" : {
      "type" : "itemgrid",
      "position" : [100, 42],
      "dimensions" : [3, 3],
      "slotOffset" : 3,
      "spacing" : [19, 19],
      "backingImage" : "/interface/inventory/empty.png"
    },
    "smelting" : {
      "type" : "itemslot",
      "position" : [100, 99],
      "backingImage" : "/interface/tech/power/burningslot.png",
      "callback" : "null",
      "rightClickCallback" : "null"
    },
    "batteryStats" : {
      "type" : "label",
      "value" : "^gray;/^#00000000;FP",
      "hAnchor" : "mid",
      "position" : [120, 119]
    },
    "overlay" : {
      "type" : "image",
      "file" : "/interface/chests/shine1to16.png",
      "position" : [0, 2]
    },
    "close" : {
      "type" : "button",
      "base" : "/interface/x.png",
      "hover" : "/interface/xhover.png",
      "pressed" : "/interface/xpress.png",
      "pressedOffset" : [0, 0],
      "position" : [143, 135]
    }
  },
  
  "scriptWidgetCallbacks" : [
    "asdf"
  ],

  "scripts" : ["/interface/tech/power/autosmelter.lua"],
  "scriptDelta" : 1
}
