{
  "gui" : {
    "background" : {
      "type" : "background",
      "fileHeader" : "/interface/crafting/craftingheader.png",
      "fileBody" : "/interface/tech/teleporters/cfgbody.png",
      "fileFooter" : "/interface/crafting/craftingfooter.png"
    },
    "close" : {
      "type" : "button",
      "base" : "/interface/x.png",
      "hover" : "/interface/xhover.png",
      "pressed" : "/interface/xpress.png",
      "pressedOffset" : [0, 0],
      "position" : [321, 263]
    },
    "windowtitle" : {
      "type" : "title",
      "title" : "Telepad Setup",
      "subtitle" : "Select your destination",
      "position" : [-5, 252],
      "icon" : {
        "type" : "image",
        "file" : "/interface/crafting/craftingicon.png",
        "position" : [0, -20],
        "zlevel" : -1
      }
    },
    "lblSchematics" : {
      "type" : "label",
      "position" : [88, 244],
      "hAnchor" : "mid",
      "value" : "^#b9b5b2;BOOKMARKS"
    },
    "lblProducttitle" : {
      "type" : "label",
      "position" : [265, 244],
      "hAnchor" : "mid",
      "value" : "^#b9b5b2;CONFIGURATION"
    },
    
    /*"description" : {
      "type" : "widget",
      "position" : [190, 50],
      "size" : [140, 220]
    },*/

    "bookmarks" : {
      "type" : "scrollArea",
      "rect" : [5, 69, 174, 229],
      "children" : {
        "list" : {
          "type" : "list",
          "callback" : "uiListOnSelect",
          "schema" : {
            "selectedBG" : "/interface/crafting/craftableselected2.png",
            "unselectedBG" : "/interface/crafting/craftablebackground.png",
            "spacing" : [0, 1],
            "memberSize" : [159, 20],
            "listTemplate" : {
              "background" : {
                "type" : "image",
                "file" : "/interface/crafting/craftablebackground.png",
                "position" : [2, 0],
                "zlevel" : -1
              },
              "icon" : {
                "type" : "image",
                "position" : [12, 10],
                "centered" : true,
                "file" : "/interface/bookmarks/icons/ship.png",
                "mouseTransparent" : true
              },
              "name" : {
                "type" : "label",
                "position" : [25, 10],
                "hAnchor" : "left",
                "wrapWidth" : 116,
                "value" : "Telepad Name"
              },
              "desc" : {
                "type" : "label",
                "position" : [25, 2],
                "hAnchor" : "left",
                "wrapWidth" : 116,
                "color" : [180, 180, 180],
                "value" : "Location"
              },
              "itemIcon" : {
                "type" : "itemslot",
                "position" : [3, 1],
                "callback" : "null"
              }
              
              //
            }
          }
        }
      }
    },
    
    // below bookmarks
    "btnCreateBookmark" : {
      "type" : "button",
      "base" : "/interface/button.png",
      "hover" : "/interface/buttonhover.png",
      "disabledImage" : "/interface/buttongrayed.png",
      "position" : [7, 40],
      "caption" : "Create"
    },
    
    "btnDeleteBookmark" : {
      "type" : "button",
      "base" : "/interface/button.png",
      "hover" : "/interface/buttonhover.png",
      "disabledImage" : "/interface/buttongrayed.png",
      "position" : [116, 40],
      "caption" : "^red;Delete^reset;"
    },
    
    // right pane
    
    "txtName" : {
      "type" : "textbox",
      "position" : [200, 218], // 185+34 with adjustment
      "textAlign" : "left",
      "maxWidth" : 129,
      "hint" : "Name",
      "escapeKey" : "uiUnfocus",
      "enterKey" : "uiUnfocus",
      "callback" : "uiChanged"
    },
    
    // right pane bottom strip
    
    "chkLock" : {
      "type" : "button",
      "base" : "/interface/crafting/checkboxnocheck.png",
      "baseImageChecked" : "/interface/crafting/checkboxcheck.png",
      "checkable" : true,
      "checked" : false,
      "position" : [195, 41],
      "callback" : "uiChanged"
    },
    "lblLock" : {
      "type" : "label",
      "position" : [205, 41],
      "hAnchor" : "left",
      "value" : "Lock settings"
    },
    
    "btnRevert" : {
      "type" : "button",
      //"visible" : false,
      "base" : "/interface/button.png",
      "hover" : "/interface/buttonhover.png",
      "position" : [274, 51],
      "caption" : "Revert",
      "callback" : "revertChanges"
    },
    "btnApply" : {
      "type" : "button",
      "base" : "/interface/button.png",
      "hover" : "/interface/buttonhover.png",
      "position" : [274, 38],
      "caption" : "Apply",
      "callback" : "applyChanges"
    }
    
    //
  },
  "scripts" : [ "/interface/tech/teleporters/telepadcfg.lua" ],
  "scriptDelta" : 1,
  "scriptWidgetCallbacks" : [
    "uiChanged", "uiUnfocus", "uiListOnSelect", "applyChanges", "revertChanges",
    "btnCreateBookmark", "btnDeleteBookmark"
  ]
}
