{
  "generatorVersion" : "Pizza with Icon",
  "iconVariants" : "2",
  "defaultStep" : {
    "increased" : 0.01,
    "flat" : 1
  },
  
  "nameGen" : {
    "first" : [
      "Absolute", "Infinite", "Endless", "Grand", "Dream", "Nightmare", "Void", "Unknown", "Wandering", "Broken",
      "Dazzling", "Shining", "Shimmering", "Glittering", "Gleaming", "Magnificent", "Radiant", "Resplendent",
      "Wrath", "Sorrow", "Agony", "Despair", "Bliss", "Fortune", "Lucky", "Focus", "Nemesis", "Dark", "Light",
      "Lotus", "Iris", "Rose", "Heart", "Soul", "Mind", "Spirit", "Star", "Stellar", "Astral", "Heaven", "Sky",
      "Boundless", "Peerless", "Adamant", "Unwavering", "Eternal", "Starlight", "Stardust", "Silent", "Empty",
      "Brilliant", "Forlorn", "Rapture", "Prismatic",
      "Divine", "Queen's", "King's", "Empress's", "Emperor's", "Goddess's"
    ],
    "second" : [
      "Shard", "Fragment", "Facet", "Lens", "Mirror", "Edge", "Core", "Crystal", "Stone", "Spike", "Spire", "Cut",
      "Glint", "Gleam", "Spark", "Flame", "Shine", "Shimmer", "Beacon", "Grandeur", "Glow", "Elegance", "Sigil",
      "Dream", "Nightmare", "Expanse", "Void", "Grace", "Radiance", "Sorrow", "Sign", "Gaze", "Glance", "Eternity",
      "Star", "Flower", "Blossom", "Crown", "Aura", "Devotion", "Dawn", "Dusk", "Reverie", "Silence", "Brilliance",
      "Pulse", "Prism"
    ]
  },
  
  "modifiers" : {
    "health.t1" : { "minLevel" : 0, "grants" : ["increased", "health", [0.01, 0.03]] },
    "health.t2" : { "minLevel" : 3, "grants" : ["increased", "health", [0.03, 0.05]] },
    "health.t3" : { "minLevel" : 6, "grants" : ["increased", "health", [0.05, 0.08]] },
    
    "flathealth.t1" : { "minLevel" : 0, "grants" : ["flat", "health", [1, 5]] },
    "flathealth.t2" : { "minLevel" : 3, "grants" : ["flat", "health", [5, 10]] },
    "flathealth.t3" : { "minLevel" : 5, "grants" : ["flat", "health", [10, 15]] },
    "flathealth.t4" : { "minLevel" : 7, "grants" : ["flat", "health", [15, 25]] },
    
    "regen.t1" : { "minLevel" : 4, "grants" : ["flat", "healthRegen", [1, 5]] },
    "regen.t2" : { "minLevel" : 6, "grants" : ["flat", "healthRegen", [5, 8]] },
    "regen.t3" : { "minLevel" : 7, "grants" : ["flat", "healthRegen", [8, 10]] },
    
    // armor
    
    //energy
    
    //aether
    
    "damage.t1" : { "minLevel" : 0, "grants" : ["increased", "damageMult", [0.01, 0.03]] },
    "damage.t2" : { "minLevel" : 2, "grants" : ["increased", "damageMult", [0.03, 0.05]] },
    "damage.t3" : { "minLevel" : 3, "grants" : ["increased", "damageMult", [0.05, 0.07]] },
    "damage.t4" : { "minLevel" : 4, "grants" : ["increased", "damageMult", [0.07, 0.10]] },
    "damage.t5" : { "minLevel" : 5, "grants" : ["increased", "damageMult", [0.10, 0.12]] },
    "damage.t6" : { "minLevel" : 6, "grants" : ["increased", "damageMult", [0.12, 0.15]] },
    "damage.t7" : { "minLevel" : 7, "grants" : ["increased", "damageMult", [0.15, 0.20]] },
    
    "skilldamage.t1" : { "minLevel" : 0, "grants" : ["increased", "skillDamageMult", [0.01, 0.03]] },
    "skilldamage.t2" : { "minLevel" : 2, "grants" : ["increased", "skillDamageMult", [0.03, 0.05]] },
    "skilldamage.t3" : { "minLevel" : 3, "grants" : ["increased", "skillDamageMult", [0.05, 0.07]] },
    "skilldamage.t4" : { "minLevel" : 4, "grants" : ["increased", "skillDamageMult", [0.07, 0.10]] },
    "skilldamage.t5" : { "minLevel" : 5, "grants" : ["increased", "skillDamageMult", [0.10, 0.12]] },
    "skilldamage.t6" : { "minLevel" : 6, "grants" : ["increased", "skillDamageMult", [0.12, 0.15]] },
    "skilldamage.t7" : { "minLevel" : 7, "grants" : ["increased", "skillDamageMult", [0.15, 0.20]] },
    
    "speed.t1" : { "minLevel" : 3, "grants" : ["increased", "moveSpeed", [0.05, 0.15]] },
    "sprint.t1" : { "minLevel" : 4, "grants" : ["increased", "sprintSpeed", [0.05, 0.25]] },
    
    "apgain.t1" : { "minLevel" : 7, "grants" : ["increased", "apGain", [0.01, 0.05]] }
  }
}
