{
  "typeToItem" : {
    "energy1" : "energyaugment1",
    "energy2" : "energyaugment2",
    "energy3" : "energyaugment3",
    
    "healing1" : "healingaugment1",
    "healing2" : "healingaugment2",
    "healing3" : "healingaugment3",
    
    "light1" : "lightaugment1",
    "light2" : "lightaugment2",
    "light3" : "lightaugment3",
    
    "damage1" : "damageaugment1",
    "damage2" : "damageaugment2",
    "damage3" : "damageaugment3",
    
    "health1" : "healthaugment1",
    "health2" : "healthaugment2",
    "health3" : "healthaugment3",
    
    "poisonblock" : "poisonblockaugment",
    "electricblock" : "electricblockaugment",
    "fireblock" : "fireblockaugment",
    "iceblock" : "iceblockaugment",
    
    "mobility" : "mobilityaugment",
    "speed" : "speedaugment",
    "swimming" : "swimaugment",
    "thorns" : "thornsaugment",
    "lowgrav" : "gravityaugment",
    "jump" : "jumpaugment"
  }
}
