{ // -*- grammar-ext: json -*-
  "gui" : {
    "background" : {
      "type" : "background",
      "fileFooter" : "/interface/inventory/empty.png?scalenearest=0.0" // magic non-interface!
    },
    "itemGrid" : {
      "type" : "itemgrid",
      "position" : [-100, 0],
      "dimensions" : [0,0],
      "spacing" : [22, 20],
      "backingImage" : "/interface/inventory/empty.png"
    }
  },
  "scripts" : ["/sys/stardust/autocontainer-host.lua"],
  "scriptDelta" : 1
}
