{
  "gui" : {
    "paneFeature" : {
      "type" : "panefeature",
      "anchor" : "centerTop",
      "positionLocked" : true
    },
    "background" : {
      "zlevel" : -10,
      "type" : "background",
      "fileBody" : "/assetmissing.png?crop=0;0;1;1?multiply=0000?replace;0000=000000bf?scalenearest=960;540"
    },
    
    "viewCanvas" : {
      "type" : "canvas",
      "rect" : [0, 0, 960, 540],
      "captureMouseEvents" : true,
      "captureKeyEvents" : true
    },
    
    "btnConfirm" : {
      "type" : "button",
      //"position" : [ 560, 495 ],
      "position" : [ 528, 520 ],
      "base" : "/interface/button.png",
      "hover" : "/interface/buttonhover.png",
      "caption" : "Confirm"
    },
    
    "btnCancel" : {
      "type" : "button",
      //"position" : [ 346, 495 ],
      "position" : [ 378, 520 ],
      "base" : "/interface/button.png",
      "hover" : "/interface/buttonhover.png",
      "caption" : "Cancel"
    },
    
    "topbar" : {
      "type" : "image",
      "file" : "/aetheri/interface/skilltree/topbar.png",
      "centered" : true, "trim" : false,
      "zlevel" : 10,
      "position" : [480, 526]
    },
    
    "skillSlot1" : {
      "type" : "itemslot",
      "position" : [443, 515], "zlevel" : 20,
      "backingImage" : "/interface/actionbar/actionbarcover.png",
      "callback" : "onSkillSlotClick", "rightClickCallback" : "onSkillSlotRClick"
    },
    "skillSlot2" : {
      "type" : "itemslot",
      "position" : [462, 515], "zlevel" : 20,
      "backingImage" : "/interface/actionbar/actionbarcover.png",
      "callback" : "onSkillSlotClick", "rightClickCallback" : "onSkillSlotRClick"
    },
    "skillSlot3" : {
      "type" : "itemslot",
      "position" : [481, 515], "zlevel" : 20,
      "backingImage" : "/interface/actionbar/actionbarcover.png",
      "callback" : "onSkillSlotClick", "rightClickCallback" : "onSkillSlotRClick"
    },
    "skillSlot4" : {
      "type" : "itemslot",
      "position" : [500, 515], "zlevel" : 20,
      "backingImage" : "/interface/actionbar/actionbarcover.png",
      "callback" : "onSkillSlotClick", "rightClickCallback" : "onSkillSlotRClick"
    },
    
    "skillHighlight" : {
      "type" : "image",
      "position" : [99999, 99999], "zlevel" : 19,
      "file" : "/interface/actionbar/selectedslot-essential.png"
    },
    
    "skillDrawer" : {
      "type" : "layout",
      "position" : [99999, 99999],
      "size" : [90, 180],
      "zlevel" : 5,
      "layoutType" : "basic",
      "children" : {
        "bg" : {
          "type" : "image",
          "file" : "/aetheri/interface/skilltree/skilldrawer.png",
          "position" : [0, 0],
          "trim" : false,
          "zlevel" : -1
        },
        "s" : {
          "type" : "scrollArea",
          "rect" : [2, 2, 88, 150],
          "children" : {
            "l" : {
              "type" : "list",
              "columns" : 4,
              "fillDown" : true,
              "schema" : {
                "spacing" : [0, 1],
                "memberSize" : [19, 18],
                "listTemplate" : {
                  
                  "bg" : {
                    "type" : "image", "position" : [1, 0], "file" : "/interface/actionbar/actionbarcover.png"
                  },
                  
                  "s" : {
                    "type" : "itemslot",
                    "position" : [1, 0],
                    "showRarity" : false,
                    "backingImage" : "/interface/actionbar/actionbarcover.png",
                    "callback" : "slotClick", "rightClickCallback" : "slotClick"
                  }
                  
                }
              }
            }
          }
        }
      }
    }
    
    
  },
  
  "canvasClickCallbacks" : {
    "viewCanvas" : "canvasClickEvent"
  },
  "canvasKeyCallbacks" : {
    "viewCanvas" : "canvasKeyEvent"
  },

  "scriptWidgetCallbacks" : [
    "btnConfirm", "btnCancel",
    "onSkillSlotClick", "onSkillSlotRClick"
  ],

  "scripts" : ["/aetheri/interface/skilltree/main.lua"],
  "scriptDelta" : 1
}
