{
  "gui" : {
    "paneFeature" : {
      "type" : "panefeature",
      "anchor" : "centerTop",
      "positionLocked" : true
    },
    "background" : {
      "zlevel" : -10,
      "type" : "background",
      "fileBody" : "/assetmissing.png?crop=0;0;1;1?multiply=0000?replace;0000=000000bf?scalenearest=960;540"
    },
    
    "viewCanvas" : {
      "type" : "canvas",
      "rect" : [0, 0, 960, 540],
      "captureMouseEvents" : true,
      "captureKeyEvents" : true
    },
    
    "btnConfirm" : {
      "type" : "button",
      "position" : [ 560, 495 ],
      "base" : "/interface/button.png",
      "hover" : "/interface/buttonhover.png",
      "caption" : "Confirm"
    },
    
    "btnCancel" : {
      "type" : "button",
      "position" : [ 346, 495 ],
      "base" : "/interface/button.png",
      "hover" : "/interface/buttonhover.png",
      "caption" : "Cancel"
    }
    
  },
  
  "canvasClickCallbacks" : {
    "viewCanvas" : "canvasClickEvent"
  },
  "canvasKeyCallbacks" : {
    "viewCanvas" : "canvasKeyEvent"
  },

  "scriptWidgetCallbacks" : [
    "btnConfirm", "btnCancel"
  ],

  "scripts" : ["/aetheri/interface/skilltree/main.lua"],
  "scriptDelta" : 1
}
