{ // Configurator :o
  "gui" : {
    "paneFeature" : {
      "type" : "panefeature"
    },
    "background" : {
      "zlevel" : -10,
      "type" : "background",
      "fileBody" : "/startech/interface/configurator/configurator.bg.png?crop=0;0;132;185",
      "fileHeader" : "/startech/interface/configurator/configurator.bg.png?crop=0;185;132;200"
    },
    
    "label" : {
      "type" : "label",
      "position" : [ 66, 192 ],
      "hAnchor" : "mid",
      "vAnchor" : "mid",
      "value" : "^violet;Hue/Saturation/Bright/Dark"
    },
    
    "hue" : {
      "type" : "slider",
      "position" : [2, 175],
      "gridImage" : "/sys/stardust/nothing.png?scalenearest=104;8",
      "range" : [0, 1000, 1],
      "callback" : "changed"
    },
    
    "sat" : {
      "type" : "slider",
      "position" : [2, 160],
      "gridImage" : "/sys/stardust/nothing.png?scalenearest=104;8",
      "range" : [0, 1000, 1],
      "callback" : "changed"
    },
    
    "lumBright" : {
      "type" : "slider",
      "position" : [2, 145],
      "gridImage" : "/sys/stardust/nothing.png?scalenearest=104;8",
      "range" : [0, 1000, 1],
      "callback" : "changed"
    },
    
    "lumDark" : {
      "type" : "slider",
      "position" : [2, 130],
      "gridImage" : "/sys/stardust/nothing.png?scalenearest=104;8",
      "range" : [0, 1000, 1],
      "callback" : "changed"
    },
    
    "ap" : {
      "type" : "label",
      "position" : [ 66, 8 ],
      "hAnchor" : "mid",
      "vAnchor" : "mid",
      "value" : ""
    }
    
  },

  "scriptWidgetCallbacks" : [
    "changed"
  ],

  "scripts" : ["/aetheri/interface/temp-appearance.lua"],
  "scriptDelta" : 1
}
