{
  "gui" : {
    "background" : {
      "zlevel" : 0,
      "type" : "background",
      "fileHeader" : "/interface/scripted/mmupgrade/header.png",
      "fileBody" : "/interface/scripted/mmupgrade/body.png",
      "fileFooter" : "/interface/scripted/mmupgrade/footer.png"
    },

    "windowtitle" : {
      "type" : "title",
      "title" : "  Matter Manipulator upgrades",
      "subtitle" : "  ^#b9b5b2;Manipulate what matters on your matter manipulator!",
      "icon" : {
        "type" : "image",
        "file" : "/interface/manipulatorupgradeicon.png",
        "zlevel" : -1
      }
    },

    "imgHighlight" : {
      "type" : "image",
      "zlevel" : 1,
      "file" : "/interface/scripted/mmupgrade/highlightexpansionslot.png",
      "position" : [0, 22],
      "visible" : false,
      "mouseTransparent" : true
    },

    "imgSelection" : {
      "type" : "image",
      "zlevel" : 1,
      "file" : "/interface/scripted/mmupgrade/selection.png",
      "position" : [0, 0],
      "visible" : false,
      "mouseTransparent" : true
    },

    "lblGroup1" : {
      "type" : "label",
      "position" : [54, 196],
      "hAnchor" : "mid",
      "vAnchor" : "bottom",
      "value" : "^green;MATTER PROC UNIT^white;"
    },
    "btnSize1" : {
      "type" : "button",
      "base" : "/interface/scripted/mmupgrade/buttonlocked.png",
      "hover" : "/interface/scripted/mmupgrade/buttonlockedhover.png",
      "position" : [69, 175],
      "pressedOffset" : [0, 0],
      "callback" : "selectUpgrade"
    },
    "btnSize2" : {
      "type" : "button",
      "base" : "/interface/scripted/mmupgrade/buttonlocked.png",
      "hover" : "/interface/scripted/mmupgrade/buttonlockedhover.png",
      "position" : [45, 175],
      "pressedOffset" : [0, 0],
      "callback" : "selectUpgrade"
    },
    "btnSize3" : {
      "type" : "button",
      "base" : "/interface/scripted/mmupgrade/buttonlocked.png",
      "hover" : "/interface/scripted/mmupgrade/buttonlockedhover.png",
      "position" : [22, 175],
      "pressedOffset" : [0, 0],
      "callback" : "selectUpgrade"
    },

    "lblGroup2" : {
      "type" : "label",
      "position" : [54, 146],
      "hAnchor" : "mid",
      "vAnchor" : "bottom",
      "value" : "^green;EXPANSION SLOT^white;"
    },
    "btnLiquidCollection" : {
      "type" : "button",
      "base" : "/interface/scripted/mmupgrade/buttonlocked.png",
      "hover" : "/interface/scripted/mmupgrade/buttonlockedhover.png",
      "position" : [69, 126],
      "pressedOffset" : [0, 0],
      "callback" : "selectUpgrade"
    },
    "btnPaintMode" : {
      "type" : "button",
      "base" : "/interface/scripted/mmupgrade/buttonlocked.png",
      "hover" : "/interface/scripted/mmupgrade/buttonlockedhover.png",
      "position" : [45, 126],
      "pressedOffset" : [0, 0],
      "callback" : "selectUpgrade"
    },
    "btnWireMode" : {
      "type" : "button",
      "base" : "/interface/scripted/mmupgrade/buttonlocked.png",
      "hover" : "/interface/scripted/mmupgrade/buttonlockedhover.png",
      "position" : [22, 126],
      "pressedOffset" : [0, 0],
      "callback" : "selectUpgrade"
    },

    "lblGroup3" : {
      "type" : "label",
      "position" : [283, 196],
      "hAnchor" : "mid",
      "vAnchor" : "bottom",
      "value" : "^green;POWER GENERATOR^white;"
    },
    "btnPower1" : {
      "type" : "button",
      "base" : "/interface/scripted/mmupgrade/buttonlocked.png",
      "hover" : "/interface/scripted/mmupgrade/buttonlockedhover.png",
      "position" : [250, 175],
      "pressedOffset" : [0, 0],
      "callback" : "selectUpgrade"
    },
    "btnPower2" : {
      "type" : "button",
      "base" : "/interface/scripted/mmupgrade/buttonlocked.png",
      "hover" : "/interface/scripted/mmupgrade/buttonlockedhover.png",
      "position" : [274, 175],
      "pressedOffset" : [0, 0],
      "callback" : "selectUpgrade"
    },
    "btnPower3" : {
      "type" : "button",
      "base" : "/interface/scripted/mmupgrade/buttonlocked.png",
      "hover" : "/interface/scripted/mmupgrade/buttonlockedhover.png",
      "position" : [297, 175],
      "pressedOffset" : [0, 0],
      "callback" : "selectUpgrade"
    },

    "lblGroup4" : {
      "type" : "label",
      "position" : [283, 146],
      "hAnchor" : "mid",
      "vAnchor" : "bottom",
      "value" : "^green;OPTICS^white;"
    },
    "btnRange1" : {
      "type" : "button",
      "base" : "/interface/scripted/mmupgrade/buttonlocked.png",
      "hover" : "/interface/scripted/mmupgrade/buttonlockedhover.png",
      "position" : [250, 126],
      "pressedOffset" : [0, 0],
      "callback" : "selectUpgrade"
    },
    "btnRange2" : {
      "type" : "button",
      "base" : "/interface/scripted/mmupgrade/buttonlocked.png",
      "hover" : "/interface/scripted/mmupgrade/buttonlockedhover.png",
      "position" : [274, 126],
      "pressedOffset" : [0, 0],
      "callback" : "selectUpgrade"
    },
    "btnRange3" : {
      "type" : "button",
      "base" : "/interface/scripted/mmupgrade/buttonlocked.png",
      "hover" : "/interface/scripted/mmupgrade/buttonlockedhover.png",
      "position" : [297, 126],
      "pressedOffset" : [0, 0],
      "callback" : "selectUpgrade"
    },

    "lblUpgradeDescription" : {
      "type" : "label",
      "position" : [167, 79],
      "hAnchor" : "mid",
      "vAnchor" : "top",
      "wrapWidth" : 244,
      "value" : "You don't have a Matter Manipulator yet."
    },
    "imgModuleBackground" : {
      "type" : "image",
      "file" : "/interface/scripted/mmupgrade/modules.png",
      "position" : [42, 29]
    },
    "lblModuleLabel" : {
      "type" : "label",
      "zlevel" : 1,
      "position" : [112, 51],
      "hAnchor" : "mid",
      "vAnchor" : "mid",
      "wrapWidth" : 240,
      "value" : "^green;MANIPULATOR MODULES^white;"
    },
    "lblModuleCount" : {
      "type" : "label",
      "zlevel" : 1,
      "position" : [117, 38],
      "hAnchor" : "right",
      "vAnchor" : "bottom",
      "value" : "^yellow;0 / 0^white;"
    },
    "btnUpgrade" : {
      "type" : "button",
      "base" : "/interface/scripted/mmupgrade/doupgrade.png",
      "hover" : "/interface/scripted/mmupgrade/doupgrade.png",
      "pressed" : "/interface/scripted/mmupgrade/doupgrade.png",
      "disabledImage" : "/interface/scripted/mmupgrade/doupgradedisabled.png",
      "pressedOffset" : [0, 0],
      "position" : [192, 38],
      "callback" : "performUpgrade"
    },
    "close" : {
      "type" : "button",
      "base" : "/interface/x.png",
      "hover" : "/interface/xhover.png",
      "pressed" : "/interface/xpress.png",
      "pressedOffset" : [0, 0],
      "callback" : "close",
      "position" : [321, 226]
    }

    // reset button just for testing
    // "btnResetTools" : {
    //   "type" : "button",
    //   "base" : "/interface/scripted/mmupgrade/resetbutton.png",
    //   "pressedOffset" : [0, -1],
    //   "position" : [10, 22],
    //   "callback" : "resetTools"
    // }
  },

  "scriptWidgetCallbacks" : [
    "selectUpgrade",
    "performUpgrade",
    "resetTools"
  ],

  "scripts" : ["/interface/scripted/mmupgrade/mmupgradegui.lua"],
  "scriptDelta" : 1,

  "autoRefreshRate" : 0.5,

  "selectionOffset" : [-1, -1],
  "defaultDescription" : "Select an upgrade to view its cost and benefits",

  "buttonStateImages" : {
    "locked" : {
      "base" : "/interface/scripted/mmupgrade/buttonlocked.png",
      "hover" : "/interface/scripted/mmupgrade/buttonlockedhover.png"
    },
    "available" : {
      "base" : "/interface/scripted/mmupgrade/buttonavailable.png",
      "hover" : "/interface/scripted/mmupgrade/buttonavailablehover.png"
    },
    "complete" : {
      "base" : "/interface/scripted/mmupgrade/buttoncomplete.png",
      "hover" : "/interface/scripted/mmupgrade/buttoncompletehover.png"
    }
  },

  "overlayStateImages" : {
    "locked" : "/interface/scripted/mmupgrade/upgradelocked.png",
    "complete" : "/interface/scripted/mmupgrade/upgradecomplete.png"
  },

  "highlightImages" : {
    "expansionslot" : "/interface/scripted/mmupgrade/highlightexpansionslot.png",
    "procunit" : "/interface/scripted/mmupgrade/highlightprocunit.png",
    "optics" : "/interface/scripted/mmupgrade/highlightoptics.png",
    "powergen" : "/interface/scripted/mmupgrade/highlightpowergen.png"
  },

  "upgrades" : {
    "power1" : {
      "button" : "btnPower1",
      "prerequisites" : [],
      "moduleCost" : 8,
      "highlight" : "powergen",
      "icon" : "/interface/scripted/mmupgrade/upgradepower.png",
      "description" : "Increase matter deconstruction rate by 100%",
      "essentialSlot" : "beamaxe",
      "setItemParameters" : {
        "tileDamage" : 2.4,
        "minBeamJitter" : 0.1,
        "maxBeamJitter" : 0.2
      }
    },
    "power2" : {
      "button" : "btnPower2",
      "prerequisites" : ["power1"],
      "moduleCost" : 16,
      "highlight" : "powergen",
      "icon" : "/interface/scripted/mmupgrade/upgradepower.png",
      "description" : "Increase matter deconstruction rate by 200%",
      "essentialSlot" : "beamaxe",
      "setItemParameters" : {
        "tileDamage" : 3.6,
        "minBeamJitter" : 0.15,
        "maxBeamJitter" : 0.25
      }
    },
    "power3" : {
      "button" : "btnPower3",
      "prerequisites" : ["power2"],
      "moduleCost" : 32,
      "highlight" : "powergen",
      "icon" : "/interface/scripted/mmupgrade/upgradepower.png",
      "description" : "Increase matter deconstruction rate by 300%",
      "essentialSlot" : "beamaxe",
      "setItemParameters" : {
        "tileDamage" : 4.8,
        "minBeamJitter" : 0.2,
        "maxBeamJitter" : 0.3
      }
    },

    "size1" : {
      "button" : "btnSize1",
      "prerequisites" : [],
      "moduleCost" : 12,
      "highlight" : "procunit",
      "icon" : "/interface/scripted/mmupgrade/upgradesize.png",
      "description" : "Increase area of effect to 3x3 tiles",
      "essentialSlot" : "beamaxe",
      "setItemParameters" : {
        "blockRadius" : 3,
        "minBeamWidth" : 4,
        "maxBeamWidth" : 6
      }
    },
    "size2" : {
      "button" : "btnSize2",
      "prerequisites" : ["size1"],
      "moduleCost" : 24,
      "highlight" : "procunit",
      "icon" : "/interface/scripted/mmupgrade/upgradesize.png",
      "description" : "Increase area of effect to 4x4 tiles",
      "essentialSlot" : "beamaxe",
      "setItemParameters" : {
        "blockRadius" : 4,
        "minBeamWidth" : 6,
        "maxBeamWidth" : 8
      }
    },
    "size3" : {
      "button" : "btnSize3",
      "prerequisites" : ["size2"],
      "moduleCost" : 48,
      "highlight" : "procunit",
      "icon" : "/interface/scripted/mmupgrade/upgradesize.png",
      "description" : "Increase area of effect to 5x5 tiles",
      "essentialSlot" : "beamaxe",
      "setItemParameters" : {
        "blockRadius" : 5,
        "minBeamWidth" : 8,
        "maxBeamWidth" : 10
      }
    },

    "range1" : {
      "button" : "btnRange1",
      "prerequisites" : [],
      "moduleCost" : 6,
      "highlight" : "optics",
      "icon" : "/interface/scripted/mmupgrade/upgraderange.png",
      "description" : "Increase effective manipulator range by 2 tiles",
      "essentialSlot" : "beamaxe",
      "setStatusProperties" : {
        "bonusBeamGunRadius" : 2
      }
    },
    "range2" : {
      "button" : "btnRange2",
      "prerequisites" : ["range1"],
      "moduleCost" : 12,
      "highlight" : "optics",
      "icon" : "/interface/scripted/mmupgrade/upgraderange.png",
      "description" : "Increase effective manipulator range by 4 tiles",
      "essentialSlot" : "beamaxe",
      "setStatusProperties" : {
        "bonusBeamGunRadius" : 4
      }
    },
    "range3" : {
      "button" : "btnRange3",
      "prerequisites" : ["range2"],
      "moduleCost" : 24,
      "highlight" : "optics",
      "icon" : "/interface/scripted/mmupgrade/upgraderange.png",
      "description" : "Increase effective manipulator range by 6 tiles",
      "essentialSlot" : "beamaxe",
      "setStatusProperties" : {
        "bonusBeamGunRadius" : 6
      }
    },

    "liquidcollection" : {
      "button" : "btnLiquidCollection",
      "prerequisites" : [],
      "moduleCost" : 3,
      "highlight" : "expansionslot",
      "icon" : "/interface/scripted/mmupgrade/upgradeliquid.png",
      "description" : "Enable the collection of liquids using Excavation Mode",
      "essentialSlot" : "beamaxe",
      "setItemParameters" : {
        "canCollectLiquid" : true
      }
    },
    "paintmode" : {
      "button" : "btnPaintMode",
      "prerequisites" : ["liquidcollection"],
      "moduleCost" : 3,
      "highlight" : "expansionslot",
      "icon" : "/interface/scripted/mmupgrade/upgradepaint.png",
      "description" : "Enable Paint Mode, for painting tiles in a variety of colours",
      "essentialSlot" : "painttool",
      "setItem" : "painttool"
    },
    "wiremode" : {
      "button" : "btnWireMode",
      "prerequisites" : ["paintmode"],
      "moduleCost" : 3,
      "highlight" : "expansionslot",
      "icon" : "/interface/scripted/mmupgrade/upgradewire.png",
      "description" : "Enable Wire Mode, for wiring together functional objects",
      "essentialSlot" : "wiretool",
      "setItem" : "wiretool"
    }
  }
}
