{ // Quickbar - replaces/displaces MM upgrade screen to provide quick access to other UI panes
  "gui" : {
    "panefeature" : {
      "type" : "panefeature",
      "anchor" : "topRight",
      "offset" : [-24, -30],
      "keyDismissable" : false,
      //"persistent" : true,
      "positionLocked" : true
    },
    "background" : {
      "zlevel" : 0,
      "type" : "background",
      "fileBody" : "/sys/stardust/quickbar/quickbar.bg.png"
    },
    "scroll" : {
      "type" : "scrollArea",
      "rect" : [0, 0, 132, 200],
      "scissoring" : false,
      "buttons" : {
        "horizontal" : {
          "forward" : { "base" : "", "hover" : "", "pressed" : "" },
          "backward" : { "base" : "", "hover": "", "pressed" : "" }
        },
        "vertical" : {
          "forward" : { "base" : "/sys/stardust/quickbar/null.png", "hover" : "", "pressed" : "" },
          "backward" : { "base" : "/sys/stardust/quickbar/null.png", "hover": "", "pressed" : "" }
        }
      },
      "sthumbs" : {
        "horizontal" : {
          "base" : { "begin" : "", "end" : "", "inner" : "" },
          "hover" : { "begin" : "", "end" : "", "inner" : "" },
          "pressed" : { "begin" : "", "end" : "", "inner" : "" }
        },
        "vertical" : {
          "base" : {
            "begin" : "/sys/stardust/quickbar/null.png",
            "end" : "/sys/stardust/quickbar/null.png",
            "inner" : "/sys/stardust/quickbar/null.png"
          },
          "hover" : {
            "begin" : "",
            "end" : "",
            "inner" : ""
          },
          "pressed" : {
            "begin" : "",
            "end" : "",
            "inner" : ""
          }
        }
      },
      "children" : {
        "list" : {
          "type" : "list",
          "scissoring" : false,
          "fillDown" : true,
          "schema" : {
            "spacing" : [0, 1],
            "memberSize" : [132, 18],
            "listTemplate" : {
              "label" : {
                "type" : "label",
                "position" : [103, 5],
                "hAnchor" : "right",
                "wrapWidth" : 116,
                "value" : "Item Label"
              },
              "buttonContainer" : {
                "type" : "list",
                "position" : [105, 0],
                "scissoring" : false,
                //"fillDown" : true,
                "schema" : {
                  "spacing" : [0, 0],
                  "memberSize" : [18, 18],
                  "listTemplate" : {
                    "button" : {
                      "type" : "button",
                      "position" : [0, 0],
                      "pressedOffset" : [0, 0],
                      "base" : "/sys/stardust/quickbar/button.idle.png",
                      "hover" : "/sys/stardust/quickbar/button.hover.png",
                      "pressed" : "/sys/stardust/quickbar/button.idle.png",
                      "callback" : "click"
                    }
                  }
                }
              }
              
            }
          }
        }
      }
    }
  },

  "scriptWidgetCallbacks" : [
    "selectUpgrade",
    "performUpgrade",
    "resetTools"
  ],

  "scripts" : ["/sys/stardust/quickbar/quickbar.lua"],
  "scriptDelta" : 1,

  "autoRefreshRate" : 0.5,

  "." : ""
}
