{
  "gui" : {
    "paneFeature" : { "type" : "panefeature" },
    "background" : {
      "zlevel" : -10,
      "type" : "background",
      "fileFooter" : "/assetmissing.png?crop=0;0;1;1?multiply=0000?replace;0000=0000007f?scalenearest=80;64?border=1;0000007f;00000000?border=1;0000007f;00000000?border=1;bfbfbf;00000000"
    },
    "body" : {
      "type" : "layout",
      "layoutType" : "basic",
      "position" : [3, 3], "size" : [80, 64],
      "children" : {
        "r1" : {
          "type" : "layout",
          "layoutType" : "flow",
          "position" : [0, 47],
          "size" : [80, 18],
          "spacing" : [0, 0],
          "scissoring" : false
        }
        //
      }
    }
  },
  "scriptWidgetCallbacks" : [ "slotL", "slotR" ],
  "scripts" : [ "/startech/items/power/armor/augpackcfg.lua" ], "scriptDelta" : 1
}
