{ // -*- grammar-ext: json -*-
  "gui" : {
    "background" : {
      "zlevel" : 0,
      "type" : "background",
      "fileFooter" : "/sys/stardust/tablet/tablet.ui.png"
    },
    "scroll" : {
      "zlevel" : 1,
      "type" : "scrollArea",
      "rect" : [3, 16, 163, 272],
      "children" : { },
      "callback" : "scroll"
    },
    "cover" : {
      "zlevel" : 2,
      "type" : "image",
      "file" : "/sys/stardust/tablet/tablet.ui.png",
      "position" : [0, 0]
    },
    "scriptCanvas" : {
      "zlevel" : 10,
      "type" : "canvas",
      "rect" : [3, 16, 163, 272],
      "captureMouseEvents" : true,
      "captureKeyboardEvents" : true
    }
  },

  "scripts" : [ "/sys/stardust/tablet/tablet.ui.lua" ],
  "scriptDelta" : 1,
  "scriptWidgetCallbacks" : [ "scroll" ],
  
  "canvasClickCallbacks" : {
    "scriptCanvas" : "canvasClickEvent"
  },
  "canvasKeyCallbacks" : {
    "scriptCanvas" : "canvasKeyEvent"
  },
  
  "scriptCanvas" : "scriptCanvas"
}
