{
   "blockKey" : [
    {
      "value" : [0, 0, 0, 255],
      "foregroundBlock" : false,
      "backgroundBlock" : false
    },
	
	{
      "value" : [128, 128, 128, 255],
      "foregroundBlock" : true,
      "backgroundBlock" : true,
	  "foregroundMat" : "ancientblock",
	  "backgroundMat" : "ancientblock"
    },
	
	{
      "value" : [96, 96, 96, 255],
      "foregroundBlock" : true,
      "backgroundBlock" : true,
	  "foregroundMat" : "ancientbrick",
	  "backgroundMat" : "ancientbrick"
    },
	
	{
      "value" : [191, 127, 255, 255],
      "anchor" : true,
      "foregroundBlock" : false,
      "backgroundBlock" : false,
      "object" : "lamppost2",//"startech:telepad",
      "flags" : [ "playerSpawn" ]
    },
    
	{
      "value" : [127, 146, 255, 255],
      "foregroundBlock" : false,
      "backgroundBlock" : true,
	  "backgroundMat" : "glass"
    }
  ]
}
