{ // Configurator :o
  "openWithInventory" : true,
  "startY" : 180,
  "gui" : {
    "background" : {
      "zlevel" : -10,
      "type" : "background",
      "fileFooter" : "/sys/stardust/quickbar/quickbar.bg.png"
    },
    "chromeCanvas" : {
      "zlevel" : -1,
      "type" : "canvas",
      "rect" : [0, 0, 512, 512]
    },
    "mainSlot" : {
      "type" : "itemslot",
      "position" : [2, 180],
      "backingImage" : "/interface/inventory/empty.png",
      "callback" : "mainSlotLeft",
      "rightClickCallback" : "mainSlotRight"
    },
    "itemSlots" : {
      "type" : "list",
      "scissoring" : false,
      //"fillDown" : true,
      "schema" : {
        "spacing" : [0, 0],
        "memberSize" : [512, 512],
        "listTemplate" : {
          "container" : {
            "type" : "list",
            "position" : [0, 0],
            "scissoring" : false,
            //"fillDown" : true,
            "schema" : {
              "spacing" : [0, 0],
              "memberSize" : [18, 18],
              "listTemplate" : {
                "slot" : {
                  "type" : "itemslot",
                  "position" : [0, 0],
                  //"backingImage" : "/interface/inventory/empty.png",
                  "callback" : "left",
                  "rightClickCallback" : "right"
                }
              }
            }
          }
          
        }
      }
    }
    
  },

  "scriptWidgetCallbacks" : [
    "mainSlotLeft", "mainSlotRight"
  ],

  "scripts" : ["/interface/tech/configurator/base.lua"],
  "scriptDelta" : 1
}
