{
  //
  "title" : "Tinkerer's Workshop",
  "sections": {
    
    /* TODO:
      combustion generator
      autosmelter
      charging bench
      resonite transmitter
      all batteries
      all pulse relays
      erchius resonator
      
      both network relays
      controller
      terminal
      storage bus
      drive bay
      1k storage chip
      drive 1k, 4k, 16k, 64k, 256k
      
      wrench
      phase drill
      telepad
      augpack
      nanofield
      - rcs pack
      - leviathan
      pulsestrike glaive
      
      - 9x wire
      - all four machine plating recipes
      - silicon board
      - teleporter core
    */
    
    "components" : {
      "name" : "Components",
      "recipes" : {
        "wire" : {
          "output" : { "item" : "wire", "count" : 9 },
          "input" : [ { "item" : "copperbar" } ]
        },
        "siliconboard" : {
          "output" : { "item" : "siliconboard" },
          "input" : [ { "item" : "sand2", "count" : 5 }, { "item" : "coalore", "count" : 2 } ]
        },
        "teleportercore" : {
          "output" : { "item" : "teleportercore" },
          "input" : [
            { "item" : "startech:machineplating", "count" : 3 },
            { "item" : "silverbar", "count" : 3 },
            { "item" : "wire", "count" : 5 },
            { "item" : "solidfuel", "count" : 15 },
            { "item" : "startech:resonitebar", "count" : 1 }
          ]
        },
        "machineplating.t1" : {
          "output" : { "item" : "startech:machineplating" },
          "input" : [ { "item" : "ironbar", "count" : 7 } ]
        },
        "machineplating.t2" : {
          "output" : { "item" : "startech:machineplating" },
          "input" : [ { "item" : "tungstenbar", "count" : 5 } ]
        },
        "machineplating.t3" : {
          "output" : { "item" : "startech:machineplating" },
          "input" : [ { "item" : "titaniumbar", "count" : 3 } ]
        },
        "machineplating.t4" : {
          "output" : { "item" : "startech:machineplating" },
          "input" : [ { "item" : "durasteelbar", "count" : 1 } ]
        }
      }
    },
    
    "pulsegear" : {
      "name" : "Pulse Gear",
      "recipes" : {
        
        "rcspack" : {
          "input" : [
            { "item" : "startech:machineplating", "count" : 8 },
            { "item" : "salvagebooster", "count" : 10 },
            { "item" : "wire", "count" : 5 },
            { "item" : "goldbar", "count" : 3 }
          ], "output" : { "item" : "startech:rcspack", "count" : 1 }
        },
        
        "finwing" : {
          "input" : [
            { "item" : "startech:machineplating", "count" : 10 },
            { "item" : "titaniumbar", "count" : 5 },
            { "item" : "salvagebooster", "count" : 15 },
            { "item" : "salvagelegs", "count" : 5 },
            { "item" : "salvagetier4", "count" : 3 },
            { "item" : "wire", "count" : 5 }
          ], "output" : { "item" : "startech:finwing", "count" : 1 }
        }
        
      }
    }
    
  }
}
