{
  //
  "title" : "Tinkerer's Workshop",
  "sections": {
    
    "onions" : {
      "name" : "Pickled Onions",
      "recipes" : {
        "bluh" : {
          "input" : [ { "item" : "startech:resonitebar", "count" : 15 } ],
          "output" : { "item" : "startech:phasedrill" }
        }
      }
    },
    
    "pulsegear" : {
      "name" : "Pulse Gear",
      "recipes" : {
        
        "rcspack" : {
          "input" : [
            { "item" : "startech:machineplating", "count" : 8 },
            { "item" : "salvagebooster", "count" : 10 },
            { "item" : "wire", "count" : 5 },
            { "item" : "goldbar", "count" : 3 }
          ], "output" : { "item" : "startech:rcspack", "count" : 1 }
        },
        
        "finwing" : {
          "input" : [
            { "item" : "startech:machineplating", "count" : 10 },
            { "item" : "titaniumbar", "count" : 5 },
            { "item" : "salvagebooster", "count" : 15 },
            { "item" : "salvagelegs", "count" : 5 },
            { "item" : "salvagetier4", "count" : 3 },
            { "item" : "wire", "count" : 5 }
          ], "output" : { "item" : "startech:finwing", "count" : 3 }
        }
        
      }
    }
    
  }
}
