{
  //
  "title" : "Tinkerer's Workshop",
  "sections": {
    
    "components" : { "sortId" : "000",
      "name" : "Components",
      "defaultSortId" : "300",
      "recipes" : {
        "machineplating.t1" : { "sortId" : "000",
          "output" : { "item" : "startech:machineplating" },
          "input" : [ { "item" : "ironbar", "count" : 5 } ]
        },
        "machineplating.t2" : { "sortId" : "001",
          "output" : { "item" : "startech:machineplating" },
          "input" : [ { "item" : "tungstenbar", "count" : 3 } ]
        },
        "machineplating.t3" : { "sortId" : "002",
          "output" : { "item" : "startech:machineplating" },
          "input" : [ { "item" : "titaniumbar", "count" : 1 } ]
        },
        "machineplating.t4" : { "sortId" : "003",
          "output" : { "item" : "startech:machineplating", "count" : 3 },
          "input" : [ { "item" : "durasteelbar", "count" : 1 } ]
        },
        "wire" : {
          "output" : { "item" : "wire", "count" : 9 },
          "input" : [ { "item" : "copperbar" } ]
        },
        "siliconboard" : {
          "output" : { "item" : "siliconboard" },
          "input" : [ { "item" : "sand2", "count" : 5 }, { "item" : "coalore", "count" : 2 } ]
        },
        "teleportercore" : {
          "output" : { "item" : "teleportercore" },
          "input" : [
            { "item" : "startech:machineplating", "count" : 3 },
            { "item" : "silverbar", "count" : 3 },
            { "item" : "wire", "count" : 5 },
            { "item" : "solidfuel", "count" : 15 },
            { "item" : "startech:resonitebar", "count" : 1 }
          ]
        }
      }
    },
    
    "power" : { "sortId" : "010",
      "name" : "Power Generation/Storage",
      "defaultSortId" : "300",
      "recipes" : {
        "generator.basic" : { "sortId" : "100",
          "input" : [
            { "item" : "startech:machineplating", "count" : 4 },
            { "item" : "silverbar", "count" : 3 },
            { "item" : "copperbar", "count" : 3 },
            { "item" : "coalore", "count" : 15 },
            { "item" : "volatilepowder", "count" : 5 }
          ], "output" : { "item" : "startech:generator.basic" }
        },
        "battery.t1" : { "sortId" : "200",
          "input" : [
            { "item" : "startech:machineplating", "count" : 3 },
            { "item" : "silverbar", "count" : 5 },
            { "item" : "glass", "count" : 1 },
            { "item" : "corefragmentore", "count" : 5 }
          ], "output" : { "item" : "startech:battery.t1" }
        },
        "battery.t2" : { "sortId" : "201",
          "input" : [
            { "item" : "startech:machineplating", "count" : 5 },
            { "item" : "silverbar", "count" : 5 },
            { "item" : "glass", "count" : 1 },
            { "item" : "solidfuel", "count" : 5 }
          ], "output" : { "item" : "startech:battery.t2" }
        },
        "battery.t3" : { "sortId" : "202",
          "input" : [
            { "item" : "startech:machineplating", "count" : 15 },
            { "item" : "silverbar", "count" : 5 },
            { "item" : "goldbar", "count" : 1 },
            { "item" : "glass", "count" : 1 },
            { "item" : "supermatter", "count" : 1 }
          ], "output" : { "item" : "startech:battery.t3" }
        },
        "battery.t4" : { "sortId" : "203",
          "input" : [
            { "item" : "startech:machineplating", "count" : 20 },
            { "item" : "silverbar", "count" : 5 },
            { "item" : "solariumstar", "count" : 5 },
            { "item" : "glass", "count" : 1 },
            { "item" : "startech:resonitebar", "count" : 1 }
          ], "output" : { "item" : "startech:battery.t4" }
        },
        "relay.t1" : { "sortId" : "250",
          "input" : [
            { "item" : "startech:machineplating", "count" : 1 },
            { "item" : "silverbar", "count" : 1 },
            { "item" : "glass", "count" : 1 },
            { "item" : "solidfuel", "count" : 1 }
          ], "output" : { "item" : "startech:relay.t1" }
        },
        "relay.t2" : { "sortId" : "251",
          "input" : [
            { "item" : "startech:machineplating", "count" : 3 },
            { "item" : "silverbar", "count" : 2 },
            { "item" : "glass", "count" : 1 },
            { "item" : "solidfuel", "count" : 5 }
          ], "output" : { "item" : "startech:relay.t2" }
        },
        "relay.t3" : { "sortId" : "252",
          "input" : [
            { "item" : "startech:machineplating", "count" : 5 },
            //{ "item" : "durasteelbar", "count" : 1 },
            { "item" : "silverbar", "count" : 3 },
            { "item" : "goldbar", "count" : 1 },
            { "item" : "glass", "count" : 1 },
            { "item" : "supermatter", "count" : 1 }
          ], "output" : { "item" : "startech:relay.t3" }
        },
        "relay.t4" : { "sortId" : "253",
          "input" : [
            { "item" : "startech:machineplating", "count" : 7 },
            { "item" : "silverbar", "count" : 3 },
            { "item" : "solariumstar", "count" : 1 },
            { "item" : "glass", "count" : 1 },
            { "item" : "startech:resonitebar", "count" : 1 }
          ], "output" : { "item" : "startech:relay.t4" }
        },
        "chargingbench" : {
          "input" : [
            { "item" : "startech:machineplating", "count" : 3 },
            { "item" : "silverbar", "count" : 3 },
            { "item" : "copperbar", "count" : 2 },
            { "item" : "wire", "count" : 5 }
          ],
          "output" : { "item" : "startech:chargingbench" }
        },
        "wirelesscharger" : {
          "input" : [
            { "item" : "startech:machineplating", "count" : 15 },
            { "item" : "silverbar", "count" : 5 },
            { "item" : "wire", "count" : 25 },
            { "item" : "startech:resonitebar", "count" : 1 },
            { "item" : "supermatter", "count" : 1 }
          ], "output" : { "item" : "startech:wirelesscharger" }
        }
      }
    },
    "machines" : { "sortId" : "020",
      "name" : "Powered Machinery",
      "recipes" : {
        "autosmelter" : { "sortId" : "",
          "input" : [
            { "item" : "startech:machineplating", "count" : 5 },
            { "item" : "silverbar", "count" : 3 },
            { "item" : "copperbar", "count" : 2 },
            { "item" : "corefragmentore", "count" : 5 },
            { "item" : "volatilepowder", "count" : 3 }
          ], "output" : { "item" : "startech:autosmelter" }
        },
        "ftlplug" : { "sortId" : "",
          "input" : [
            { "item" : "startech:machineplating", "count" : 15 },
            { "item" : "silverbar", "count" : 5 },
            { "item" : "startech:resonitebar", "count" : 1 },
            { "item" : "supermatter", "count" : 5 },
            { "item" : "liquidfuel", "count" : 250 }
          ], "output" : { "item" : "startech:ftlplug" }
        }
      }
    },
    "storagenet" : { "sortId" : "030",
      "name" : "Transmatter Network",
      "recipes" : {
        "controller" : { "sortId" : "000",
          "input" : [
            { "item" : "startech:machineplating", "count" : 5 },
            { "item" : "siliconboard", "count" : 5 },
            { "item" : "corefragmentore", "count" : 15 },
            { "item" : "teleportercore", "count" : 1 }   
          ], "output" : { "item" : "startech:storagenet.controller" }
        },
        "terminal" : {"sortId" : "001",
          "input" : [
            { "item" : "startech:machineplating", "count" : 3 },
            { "item" : "glass", "count" : 1 },
            { "item" : "silverbar", "count" : 1 },
            { "item" : "goldbar", "count" : 1 },
            { "item" : "corefragmentore", "count" : 5 },
            { "item" : "solidfuel", "count" : 5 }
          ], "output" : { "item" : "startech:storagenet.terminal" }
        },
        "storagebus" : { "sortId" : "011",
          "input" : [
            { "item" : "startech:machineplating", "count" : 3 },
            { "item" : "corefragmentore", "count" : 3 },
            { "item" : "solidfuel", "count" : 1 }
          ], "output" : { "item" : "startech:storagenet.storagebus" }
        },
        "drivebay" : { "sortId" : "010",
          "input" : [
            { "item" : "startech:machineplating", "count" : 3 },
            { "item" : "silverbar", "count" : 3 },
            { "item" : "corefragmentore", "count" : 5 },
            { "item" : "solidfuel", "count" : 5 }
          ], "output" : { "item" : "startech:storagenet.drivebay2" }
        },
        
        "networkrelay" : { "sortId" : "100",
          "input" : [
            { "item" : "startech:machineplating", "count" : 1 },
            { "item" : "wire", "count" : 3 }
          ], "output" : { "item" : "startech:networkrelay" }
        },
        "networkrelay2" : { "sortId" : "100",
          "input" : [
            { "item" : "startech:machineplating", "count" : 1 },
            { "item" : "wire", "count" : 3 }
          ], "output" : { "item" : "startech:networkrelay2" }
        },
        
        "drivecomponent" : { "sortId" : "200",
          "input" : [
            { "item" : "glass", "count" : 2 },
            { "item" : "sand2", "count" : 1 },
            { "item" : "liquidfuel", "count" : 5 },
            { "item" : "money", "count" : 50 }
          ], "output" : { "item" : "startech:storagenet.drivecomponent" }
        },
        
        "drive.1k" : { "sortId" : "210",
          "input" : [
            { "item" : "tungstenbar", "count" : 5 },
            { "item" : "silverbar", "count" : 3 },
            { "item" : "startech:storagenet.drivecomponent", "count" : 1 }
          ], "output" : { "item" : "startech:storagenet.drive.1k" }
        },
        "drive.4k" : { "sortId" : "211",
          "input" : [
            { "item" : "tungstenbar", "count" : 5 },
            { "item" : "silverbar", "count" : 2 },
            { "item" : "goldbar", "count" : 1 },
            { "item" : "startech:storagenet.drivecomponent", "count" : 4 }
          ], "output" : { "item" : "startech:storagenet.drive.4k" }
        },
        "drive.16k" : { "sortId" : "212",
          "input" : [
            { "item" : "titaniumbar", "count" : 5 },
            { "item" : "silverbar", "count" : 3 },
            { "item" : "goldbar", "count" : 2 },
            { "item" : "startech:storagenet.drivecomponent", "count" : 16 }
          ], "output" : { "item" : "startech:storagenet.drive.16k" }
        },
        "drive.64k" : { "sortId" : "213",
          "input" : [
            { "item" : "titaniumbar", "count" : 5 },
            { "item" : "silverbar", "count" : 3 },
            { "item" : "goldbar", "count" : 2 },
            { "item" : "diamond", "count" : 1 },
            { "item" : "startech:storagenet.drivecomponent", "count" : 64 }
          ], "output" : { "item" : "startech:storagenet.drive.64k" }
        },
        "drive.256k" : { "sortId" : "214",
          "input" : [
            { "item" : "durasteelbar", "count" : 8 },
            { "item" : "silverbar", "count" : 5 },
            { "item" : "goldbar", "count" : 3 },
            { "item" : "diamond", "count" : 3 },
            { "item" : "startech:storagenet.drivecomponent", "count" : 256 }
          ], "output" : { "item" : "startech:storagenet.drive.256k" }
        }
        
      }
    },
    
    "pulsegear" : { "sortId" : "100",
      "name" : "Pulse Gear",
      "recipes" : {
        "augpack" : { "sortId" : "100",
          "input" : [
            { "item" : "startech:machineplating", "count" : 7 },
            { "item" : "silverbar", "count" : 5 },
            { "item" : "siliconboard", "count" : 5 },
            { "item" : "wire", "count" : 15 },
            { "item" : "salvagetier4", "count" : 1 },
            { "item" : "corefragmentore", "count" : 1 }
          ], "output" : { "item" : "startech:augpack" }
        },
        
        "nanofield" : { "sortId" : "110",
          "input" : [
            { "item" : "startech:machineplating", "count" : 8 },
            { "item" : "goldbar", "count" : 5 },
            { "item" : "silverbar", "count" : 3 },
            { "item" : "wire", "count" : 15 },
            { "item" : "techcard", "count" : 5 },
            { "item" : "salvagetier4", "count" : 3 },
            { "item" : "supermatter", "count" : 1 }
          ], "output" : { "item" : "startech:nanofield" }
        },
        "rcspack" : { "sortId" : "120",
          "input" : [
            { "item" : "startech:machineplating", "count" : 8 },
            { "item" : "salvagebooster", "count" : 10 },
            { "item" : "wire", "count" : 5 },
            { "item" : "goldbar", "count" : 3 }
          ], "output" : { "item" : "startech:rcspack" }
        },
        "finwing" : { "sortId" : "121",
          "input" : [
            { "item" : "startech:machineplating", "count" : 10 },
            { "item" : "titaniumbar", "count" : 5 },
            { "item" : "salvagebooster", "count" : 15 },
            { "item" : "salvagelegs", "count" : 5 },
            { "item" : "salvagetier4", "count" : 3 },
            { "item" : "wire", "count" : 5 }
          ], "output" : { "item" : "startech:finwing" }
        },
        
        "phasedrill" : { "sortId" : "200",
          "input" : [
            { "item" : "startech:machineplating", "count" : 15 },
            { "item" : "goldbar", "count" : 15 },
            { "item" : "silverbar", "count" : 5 },
            { "item" : "startech:resonitebar", "count" : 1 },
            { "item" : "manipulatormodule", "count" : 5 },
            { "item" : "phasematter", "count" : 3 },
            { "item" : "salvagetier4", "count" : 1 }
          ],
          "output" : { "item" : "startech:phasedrill" }
        },
        
        "pulseglaive" : { "sortId" : "300",
          "input" : [
            { "item" : "startech:machineplating", "count" : 5 },
            { "item" : "goldbar", "count" : 3 },
            { "item" : "silverbar", "count" : 2 },
            //{ "item" : "startech:resonitebar", "count" : 1 },
            { "item" : "corefragmentore", "count" : 3 },
            { "item" : "salvagetier4", "count" : 1 }
          ],
          "output" : { "item" : "startech:pulseglaive" }
        }
        
      }
    },
    
    "tools" : { "sortId" : "200",
      "name" : "Misc. Tools",
      "recipes" : {
        "wrench" : { "sortId" : "000",
          "input" : [ { "item" : "startech:machineplating", "count" : 3 } ],
          "output" : { "item" : "startech:wrench" }
        },
        
        "telepad" : { "sortId" : "100",
          "input" : [
            { "item" : "startech:machineplating", "count" : 5 },
            { "item" : "silverbar", "count" : 2 },
            { "item" : "teleportercore", "count" : 1 }
          ], "output" : { "item" : "startech:telepad" }
        }
      }
    }
  }
}
