{ // -*- grammar-ext: json -*-
  "compatId" : 1, // stuff
  
  "baseStats" : { // how each stat starts out
    // [ flat, increased, more ] (omitted multipliers are 1)
    
    // resources
    "health" : [ 100 ],
    "healthRegen" : [ 0 ],
    "energy" : [ 100 ],
    "energyRegen" : [ 0 ],
    "mana" : [ 250 ],
    "manaRegen" : [ 5 ],
    
    // offensive/defensive stats
    "armor" : [ 0 ],
    "damageMult" : [ 0 ],
    "skillDamageMult" : [ 0 ],
    
    // movement
    "sprintSpeed" : [ 1, 1.5 ], // is already a 50% increased modifier on normal speed
    "airJumps" : [ 0 ],
    
    "_" : [ ]
  },
  
  "statNames" : {
    "health" : "health", "healthRegen" : "health regen",
    "energy" : "energy", "energyRegen" : "energy regen",
    "mana" : "aether", "manaRegen" : "aether regen",
    
    "armor" : "armor",
    "damageMult" : "damage",
    "skillDamageMult" : "Innate Skill damage",
    
    "sprintSpeed" : "sprint speed",
    "airJumps" : "air jump",
    
    "_" : "..."
  },
  
  "trees" : {
    "passive" : {
      //
      "origin" : {
        "type" : "origin",
        "name" : "Origin"
      },
      
      "cluster" : {
        "type" : "group",
        "position" : [ 0, -2 ],
        "children" : {
          "speed1" : {
            "name" : "Random Junk",
            "position" : [0, 0],
            "connectsTo" : [ "/origin" ],
            "grants" : [
              ["flat", "armor", 25],
              ["increased", "sprintSpeed", 0.2],
              ["flat", "airJumps", 1]
            ]
          }
        }
      }
      
      //
    }
  },
  
  
  
  
  
  "_" : false
}
