{ // -*- grammar-ext: json -*-
  "baseStats" : { // how each stat starts out
    // [ flat, increased, more ] (omitted multipliers are 1)
    
    // resources
    "health" : [ 100 ],
    "healthRegen" : [ 0 ],
    "energy" : [ 100 ],
    "energyRegen" : [ 0 ],
    "mana" : [ 100 ],
    "manaRegen" : [ 5 ],
    
    // offensive/defensive stats
    "armor" : [ 0 ],
    "damageMult" : [ 1, 1 ],
    "skillDamageMult" : [ 1, 1 ],
    
    // movement
    "moveSpeed" : [ 1, 1 ],
    "sprintSpeed" : [ 1, 1.25 ], // is already a 25% increased modifier on normal speed
    "airJumps" : [ 0 ],
    
    "_" : [ ]
  },
  
  "baseNodeCost" : 5000,
  
  "statNames" : {
    "health" : "maximum health", "healthRegen" : "health regen",
    "energy" : "maximum energy", "energyRegen" : "energy regen",
    "mana" : "maximum Aether", "manaRegen" : "Aether regen",
    
    "armor" : "armor",
    "damageMult" : "damage",
    "skillDamageMult" : "Innate Skill damage",
    
    "moveSpeed" : "movement speed",
    "sprintSpeed" : "sprint speed",
    "airJumps" : "air jump",
    
    "_" : "..."
  },
  
  "activeSkills" : [
    "dig", "burst",
    
    
    "none" // this stays last for list order purposes
  ],
  "startingSkills" : ["none", "dig", "burst"],
  
  "compatId" : "test1", // change to reset skills and refund spent AP
  
  "trees" : {
    "passive" : {
      //
      "origin" : {
        "type" : "origin",
        "name" : "Point of Origin",
        "icon" : "book.png",
        "grants" : [["description",
          "The beginning of your journey."
        ]]
      },
      "starter" : {
        "type" : "group",
        "position" : [0, 0],
        "children" : {
          // bottom half - equivalent to iron armor
          "health" : {
            "position" : [-0.625, -1.5],
            "connectsTo" : [ "/origin" ],
            "icon" : "health.png",
            "grants" : [ ["flat", "health", 10] ]
          },
          "armor" : {
            "position" : [0.625, -1.5],
            "connectsTo" : [ "/origin" ],
            "icon" : "armor.png",
            "grants" : [ ["flat", "armor", 50] ]
          },
          "energy" : {
            "position" : [-1.5, -0.625],
            "connectsTo" : [ "/origin" ],
            "icon" : "energy.png",
            "grants" : [ ["flat", "energy", 10] ]
          },
          "damage" : {
            "position" : [1.5, -0.625],
            "connectsTo" : [ "/origin" ],
            "icon" : "damage.png",
            "grants" : [ ["increased", "damageMult", 0.5] ]
          },
          
          // top half - movement and aether
          "sprint" : {
            "position" : [-1.5, 0.625],
            "connectsTo" : [ "/origin" ],
            "icon" : "sprintSpeed.png",
            "grants" : [ ["increased", "sprintSpeed", 0.25] ]
          },
          "airjump" : {
            "position" : [-0.625, 1.5],
            "connectsTo" : [ "/origin" ],
            "icon" : "airJump.png",
            "grants" : [ ["flat", "airJumps", 1] ]
          },
          "mana" : {
            "position" : [0.625, 1.5],
            "connectsTo" : [ "/origin" ],
            "icon" : "mana.png",
            "grants" : [ ["flat", "mana", 50] ]
          },
          "skillDamage" : {
            "position" : [1.5, 0.625],
            "connectsTo" : [ "/origin" ],
            "icon" : "skillDamage.png",
            "grants" : [ ["increased", "skillDamageMult", 0.25] ]
          },
          
          // connective tissue!
          "north" : {
            "position" : [0, 3],
            "connectsTo" : [ "/origin" ],
            "icon" : "misc1.png",
            "grants" : [ ]
          },
          "south" : {
            "position" : [0, -3],
            "connectsTo" : [ "/origin" ],
            "icon" : "misc1.png",
            "unlockedIcon" : "skillDamage.png",
            "fixedCost" : 0,
            "itemCost" : [
              { "name" : "ironbar", "count" : 1 },
              { "name" : "tungstenore", "count" : 15 }
            ],
            "grants" : [ ]
          },
          "east" : {
            "position" : [3, 0],
            "connectsTo" : [ "/origin" ],
            //"icon" : "misc1.png",
            "type" : "gate",
            "condition" : ["not", "admin"],
            "grants" : [ ]
          },
          "west" : {
            "position" : [-3, 0],
            "connectsTo" : [ "/origin" ],
            "icon" : "misc1.png",
            "grants" : [ ]
          }
        }        
      },
      
      "secondOrigin" : {
        "type" : "origin",
        "position" : [7, -7],
        "name" : "Another Beginning",
        "grants" : [
          ["description", "You can have multiple starting points.\nImagine the possibilities!"],
          ["flat", "nothing", -17],
          ["increased", "nothing", -0.15],
          ["more", "nothing", -0.18]
        ]
      },
      
      "healtharmor1" : {
        "type" : "group",
        "position" : [ 1, -4 ],
        "condition" : ["never"],
        "children" : {
          "start" : {
            "position" : [0, 0],
            "connectsTo" : [ "/origin" ],
            "icon" : "armor.png",
            "grants" : [
              ["flat", "health", 5],
              ["flat", "armor", 5]
            ]
          },
          "h1" : {
            "position" : [-0.5, -1],
            "connectsTo" : [ "start" ],
            "icon" : "health.png",
            "grants" : [
              ["flat", "health", 10]
            ]
          },
          "h2" : {
            "position" : [-1, -2],
            "connectsTo" : [ "h1" ],
            "icon" : "health.png",
            "grants" : [
              ["flat", "health", 10]
            ]
          },
          "h3" : {
            "position" : [-0.5, -3],
            "connectsTo" : [ "h2" ],
            "icon" : "health.png",
            "grants" : [
              ["flat", "health", 10]
            ]
          }
        }
      }
      
      //
    }
  },
  
  
  
  
  
  "_" : false
}
