{ // -*- grammar-ext: json -*-
  "baseStats" : { // how each stat starts out
    // [ flat, increased, more ] (omitted multipliers are 1)
    
    // resources
    "health" : [ 100 ],
    "healthRegen" : [ 0 ],
    "energy" : [ 100 ],
    "energyRegen" : [ 0 ],
    "mana" : [ 100 ],
    "manaRegen" : [ 5 ],
    
    // offensive/defensive stats
    "armor" : [ 0 ],
    "damageMult" : [ 1, 1 ],
    "skillDamageMult" : [ 1, 1 ],
    
    // movement
    "moveSpeed" : [ 1, 1 ],
    "sprintSpeed" : [ 1, 1.25 ], // is already a 25% increased modifier on normal speed
    "airJumps" : [ 0 ],
    
    // tool stuff
    "tileReach" : [ 25 ],
    "miningSpeed" : [ 1, 1 ],
    
    "apGain" : [ 1 ]
  },
  
  "baseNodeCost" : 5000,
  
  "statNames" : {
    "health" : "maximum health", "healthRegen" : "health regen",
    "energy" : "maximum energy", "energyRegen" : "energy regen",
    "mana" : "maximum Aether", "manaRegen" : "Aether regen",
    
    "armor" : "armor",
    "damageMult" : "damage",
    "skillDamageMult" : "Innate Skill damage",
    
    "moveSpeed" : "movement speed",
    "sprintSpeed" : "sprint speed",
    "airJumps" : "air jump",
    
    "tileReach" : "tile reach", "miningSpeed" : "mining speed",
    
    "apGain" : "AP gain"
  },
  
  "statIcons" : {
    "health" : "health.png",
    "energy" : "energy.png",
    "mana" : "mana.png",
    
    "armor" : "armor.png",
    "damageMult" : "damage.png",
    "skillDamageMult" : "skillDamage.png",
    
    "moveSpeed" : "moveSpeed.png",
    "sprintSpeed" : "sprintSpeed.png",
    "airJumps" : "airJump.png",
    
    "miningSpeed" : "mining.png",
    
    "apGain" : "book.png"
  },
  
  "activeSkills" : [
    "dig", "burst",
    
    "inspect",
    "none" // this stays last for list order purposes
  ],
  "startingSkills" : ["none", "dig", "burst", "inspect"],
  "startingLoadout" : ["dig", "burst", "none", "inspect"],
  
  "compatId" : "test1", // change to reset skills and refund spent AP
  "revId" : "spabfreg", // change to trigger a recalculation
  
  "trees" : {
    "passive" : {
      "origin" : { "type" : "origin", "name" : "Point of Origin", "grants" : [["description", "The journey of a lifetime begins with but a single step"]] },
      "starter" : {
        "type" : "group", "position" : [0, 0], "children" : {
          // bottom half - equivalent to iron armor
          "health" : { "position" : [-0.625, -1.5], "connectsTo" : [ "/origin" ], "grants" : [ ["flat", "health", 10] ] },
          "armor" : { "position" : [0.625, -1.5], "connectsTo" : [ "/origin" ], "grants" : [ ["flat", "armor", 50] ] },
          "energy" : { "position" : [-1.5, -0.625], "connectsTo" : [ "/origin" ], "grants" : [ ["flat", "energy", 10] ] },
          "damage" : { "position" : [1.5, -0.625], "connectsTo" : [ "/origin" ], "grants" : [ ["increased", "damageMult", 0.5] ] },
          
          // top half - movement and aether
          "sprint" : { "position" : [-1.5, 0.625], "connectsTo" : [ "/origin" ], "grants" : [ ["increased", "sprintSpeed", 0.25] ] },
          "airjump" : { "position" : [-0.625, 1.5], "connectsTo" : [ "/origin" ], "grants" : [ ["flat", "airJumps", 1] ] },
          "mana" : { "position" : [0.625, 1.5], "connectsTo" : [ "/origin" ], "grants" : [ ["flat", "mana", 50] ] },
          "skillDamage" : { "position" : [1.5, 0.625], "connectsTo" : [ "/origin" ], "grants" : [ ["increased", "skillDamageMult", 0.25] ] },
          
          // connective tissue!
          "north" : { "position" : [0, 3], "connectsTo" : [ "/origin" ], "grants" : [ ], "itemCost" : [ { "name" : "manipulatormodule", "count" : 5 }, { "name" : "scanmode", "count" : 1 } ] },
          "south" : { "position" : [0, -3], "connectsTo" : [ "/origin" ], "grants" : [ ] },
          "east" : { "position" : [3, 0], "connectsTo" : [ "/origin" ], "grants" : [ ] },
          "west" : { "position" : [-3, 0], "connectsTo" : [ "/origin" ], "grants" : [ ] }
        }
      },
      "toActives" : { "position" : [-2, 2], "type" : "link", "name" : "Jump to Innate Skills", "target" : "/active/origin" },
      
      "debug" : {
        "type" : "group", "position" : [ 9, -9 ], "children" : {
          "s" : { "type" : "group", "condition" : ["admin"], "children" : { "s" : { "type" : "origin", "name" : "Just Debug Things" } } },
          
          "stuff" : {
            "name" : "Bunch of Test Stuff",
            "position" : [1, -1], "connectsTo" : ["s/s"],
            "fixedCost" : 0, "grants" : [
              //["increased", "health", 4],
              //["increased", "apGain", 9],
              //["rawStatus", { "stat" : "maxHealth", "amount" : 10000 }],
              ["description", "Comes with a complimentary cheese salad sandwich"]
            ]
          }
        }
      },
      
      "utility1" : {
        "type" : "group", "position" : [ 7, 0 ], "children" : {
          "ms1" : { "position" : [-2, 0], "connectsTo" : [ "/starter/east" ], "grants" : [ ["increased", "miningSpeed", 0.1] ] },
          "ms2" : { "position" : [-1.4, -1.4], "connectsTo" : [ "ms1" ], "grants" : [ ["increased", "miningSpeed", 0.1] ] },
          "ms3" : { "position" : [0, -2], "connectsTo" : [ "ms2" ], "grants" : [ ["increased", "miningSpeed", 0.1] ] },
          "ms4" : { "position" : [1.4, -1.4], "connectsTo" : [ "ms3" ], "grants" : [ ["increased", "miningSpeed", 0.1] ] },
          "ms5" : { "position" : [2, 0], "connectsTo" : [ "ms4" ], "grants" : [ ["increased", "miningSpeed", 0.1] ] }
        }
      },
      
      "active" : {
        "type" : "group", "position" : [0, 25], "children" : {
          "origin" : { "type" : "origin", "name" : "Innate Skills", "grants" : [["description", "Unlock and upgrade active skills"]] },
          "back" : { "position" : [0, 1.5], "type" : "link", "name" : "Back to Point of Origin", "target" : "/origin" },
          
          "dig" : {
            "type" : "group", "position" : [-1.5, -0.5], "children" : {
              "skill" : { "type" : "origin", "connectsTo" : ["/active/origin"], "skill" : "dig" },
              "gatherLiquids" : {
                "position" : [-1, 0.5], "connectsTo" : ["skill"],
                "icon" : "/items/liquids/liquidwatericon.png",
                "grants" : [ ["skillUpgrade", "dig", "gatherLiquids"], ["description", "Excavate can ^cyan;gather liquids^reset;"] ],
                "fixedCost" : 5000
              },
              "autoCollectItems" : {
                "position" : [-1, -0.5], "connectsTo" : ["skill"],
                "icon" : "/items/materials/meteoriterock.png",
                "grants" : [ ["skillUpgrade", "dig", "autoCollectItems"], ["description", "Excavate ^cyan;automatically collects items^reset; within a small radius"] ],
                "fixedCost" : 15000
              }
            }
          },
          "burst" : {
            "type" : "group", "position" : [1.5, -0.5], "children" : {
              "skill" : { "type" : "origin", "connectsTo" : ["/active/origin"], "skill" : "burst" }
            }
          }
        }
      },
      
      "healtharmor1" : {
        "type" : "group",
        "position" : [ 1, -4 ],
        "condition" : ["never"],
        "children" : {
          "start" : {
            "position" : [0, 0],
            "connectsTo" : [ "/origin" ],
            "icon" : "armor.png",
            "grants" : [
              ["flat", "health", 5],
              ["flat", "armor", 5]
            ]
          },
          "h1" : {
            "position" : [-0.5, -1],
            "connectsTo" : [ "start" ],
            "icon" : "health.png",
            "grants" : [
              ["flat", "health", 10]
            ]
          },
          "h2" : {
            "position" : [-1, -2],
            "connectsTo" : [ "h1" ],
            "icon" : "health.png",
            "grants" : [
              ["flat", "health", 10]
            ]
          },
          "h3" : {
            "position" : [-0.5, -3],
            "connectsTo" : [ "h2" ],
            "icon" : "health.png",
            "grants" : [
              ["flat", "health", 10]
            ]
          }
        }
      }
      
      //
    }
  },
  
  
  
  
  
  "_" : false
}
