{ // -*- grammar-ext: json -*-
  "gui" : {
    "background" : {
      "type" : "background",
      "fileHeader" : "/interface/chests/chestheader.png",
      "fileBody" : "/interface/chests/slots1to16.png",
      "fileFooter" : "/interface/chests/chestfooter.png"
    },
    /*"objectImage" : {
      "type" : "image",
      "position" : [40, 81],
      "file" : "",
      "centered" : true,
      "maxSize" : [40, 40],
      "minSize" : [40, 40]
    },
    "clear" : {
      "type" : "button",
      "base" : "/interface/button.png",
      "hover" : "/interface/buttonhover.png",
      "press" : "/interface/buttonhover.png",
      "caption" : "Take all",
      "position" : [92, 26]
    },*/
    "scrollArea" : {
      "type" : "scrollArea",
      "zlevel" : 1,
      //"position" : [91, 52],
      //"rect" : [200, 91, 52, 100],
      "rect" : [
        0,//100,
        20,//40,
        200,
        130//80
      ],//*/
      "callback" : "onGridDerp",
      "children" : {
        "itemList" : {
          "type" : "list",
          //"position" : [10, 0],
          "rect" : [0,0,200,200],
          "schema" : {
            "selectedBG" : "/interface/crafting/craftableselected2.png",
            "unselectedBG" : "/interface/crafting/craftablebackground.png",
            //"unselectedBG" : "",
            "spacing" : [0, 1],
            "memberSize" : [159, 20],
            "listTemplate" : {
              "background" : {
                "type" : "image",
                "file" : "/interface/crafting/craftablebackground.png",
                "position" : [2, 0],
                "zlevel" : -1
              },//*/
              "itemName" : {
                "type" : "label",
                "position" : [25, 5],
                "hAnchor" : "left",
                "wrapWidth" : 116,
                "value" : "Replace Me"
              },
              "itemIcon" : {
                "type" : "itemslot",
                "position" : [3, 1],
                "callback" : "null"
              },
              "btn" : {
                "type" : "button",
                "base" : "/interface/button.png",
                "hover" : "/interface/buttonhover.png",
                "press" : "/interface/buttonhover.png",
                "checkable" : true,
                "caption" : "Stuff",
                "position" : [64, 5],
                "callback" : "null"
              }
            }
          }
        }//*/
        /*"itemGrid" : {
          "type" : "itemgrid",
          "position" : [0, 0], //[91, 52],
          "dimensions" : [3, 3],
          "spacing" : [19, 19],
          "backingImage" : "/interface/inventory/empty.png",
          "callsback" : "onGridDerp"
        }//*/
      },
      "scriptWidgetCallbacks" : [
        "onGridDerp", "onGridDerp.right", "btn"
      ]
    },
    "itemGrid" : {
      "type" : "itemgrid",
      "position" : [0, 0], //[91, 52],
      "dimensions" : [0, 0],
      "spacing" : [19, 19],
      "backingImage" : "/interface/inventory/empty.png",
      "callsback" : "onGridDerp"
    },
    /*"count" : {
      "type" : "label",
      "value" : "9 SLOTS",
      "hAnchor" : "mid",
      "position" : [120, 119]
    },*/
    "overlay" : {
      "type" : "image",
      "file" : "/interface/chests/shine1to16.png",
      "position" : [0, 2]
    },
    "close" : {
      "type" : "button",
      "base" : "/interface/inventory/x.png",
      "hover" : "/interface/inventory/xhover.png",
      "press" : "/interface/inventory/xpress.png",
      "position" : [143, 135]
    }
  },
  
  "scriptWidgetCallbacks" : [
    "onGridDerp", "onGridDerp.right", "btn"
  ],
  
  "scripts" : ["/startech/interface/testing/chesttest.lua"],
  "scriptDelta" : 5
}
