{ // -*- grammar-ext: json -*-
  "gui" : {
    "background" : {
      "type" : "background",
      "fileFooter" : "/interface/tech/storagenet/drivebay.png" // if we make this the footer, it's all draggable
    },
    "title" : {
      "type" : "label",
      "position" : [7, 129], // y == imgheight - 11
      "value" : "Transmatter Drive Bay"
    },
    "itemGrid" : {
      "type" : "itemgrid",
      "position" : [4, 36],
      "dimensions" : [2, 4],
      "spacing" : [32, 24],
      "backingImage" : "/interface/inventory/empty.png"
    },
    "select_1" : {
      "type" : "button",
      "position" : [22, 111], // y=39 + 24 * 3
      "base" : "/interface/tech/storagenet/drivebay.button.settings.png",
      "pressedOffset" : [0, 0],
      "callback" : "select"
    },
    "select_2" : {
      "type" : "button",
      "position" : [54, 111], // y=39 + 24 * 3
      "base" : "/interface/tech/storagenet/drivebay.button.settings.png",
      "pressedOffset" : [0, 0],
      "callback" : "select"
    },
    "select_3" : {
      "type" : "button",
      "position" : [22, 87], // y=39 + 24 * 2
      "base" : "/interface/tech/storagenet/drivebay.button.settings.png",
      "pressedOffset" : [0, 0],
      "callback" : "select"
    },
    "select_4" : {
      "type" : "button",
      "position" : [54, 87], // y=39 + 24 * 2
      "base" : "/interface/tech/storagenet/drivebay.button.settings.png",
      "pressedOffset" : [0, 0],
      "callback" : "select"
    },
    "select_5" : {
      "type" : "button",
      "position" : [22, 63], // y=39 + 24
      "base" : "/interface/tech/storagenet/drivebay.button.settings.png",
      "pressedOffset" : [0, 0],
      "callback" : "select"
    },
    "select_6" : {
      "type" : "button",
      "position" : [54, 63], // y=39 + 24
      "base" : "/interface/tech/storagenet/drivebay.button.settings.png",
      "pressedOffset" : [0, 0],
      "callback" : "select"
    },
    "select_7" : {
      "type" : "button",
      "position" : [22, 39],
      "base" : "/interface/tech/storagenet/drivebay.button.settings.png",
      "pressedOffset" : [0, 0],
      "callback" : "select"
    },
    "select_8" : {
      "type" : "button",
      "position" : [54, 39],
      "base" : "/interface/tech/storagenet/drivebay.button.settings.png",
      "pressedOffset" : [0, 0],
      "callback" : "select"
    },
    "filter" : {
      "type" : "textbox",
      "position" : [7, 19],
      "textAlign" : "left",
      "maxWidth" : 207,
      "hint" : "Filter",
      "callback" : "null",
      "enterKey" : "next"
    },
    "priority" : {
      "type" : "textbox",
      "position" : [7, 5],
      "textAlign" : "left",
      "maxWidth" : 207,
      "hint" : "Priority",
      "callback" : "null",
      "enterKey" : "apply"
    }
  },
  
  "scriptWidgetCallbacks" : [
    "select", "apply", "next"
  ],

  "scripts" : ["/interface/tech/storagenet/drivebay.lua"],
  "scriptDelta" : 1
}
