{
  "gui" : {
    "background" : {
      "type" : "background",
      "fileFooter" : "/interface/tech/storagenet/storagebus.png" // if we make this the footer, it's all draggable
    },
    "title" : {
      "type" : "label",
      "position" : [7, 31],
      "value" : "Storage Bus Settings"
    },
    "filter" : {
      "type" : "textbox",
      "position" : [7, 19],
      "textAlign" : "left",
      "maxWidth" : 207,
      "hint" : "Filter",
      "callback" : "null",
      "enterKey" : "next"
    },
    "priority" : {
      "type" : "textbox",
      "position" : [7, 5],
      "textAlign" : "left",
      "maxWidth" : 207,
      "hint" : "Priority",
      "callback" : "null",
      "enterKey" : "apply"
    }/*,
    "apply" : {
      "type" : "button",
      "position" : [162, 5],
      "zlevel" : 100,
      "base" : "/interface/button.png",
      "hover" : "/interface/buttonhover.png",
      "pressed" : "/interface/button.png", // no stock pressed image?
      "pressedOffset" : [0, 0],
      "caption" : "Apply"
    }//*/
  },
  
  "scriptWidgetCallbacks" : [
    "apply", "next"
  ],

  "scripts" : ["/interface/tech/storagenet/storagebus.lua"],
  "scriptDelta" : 1
}
